<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> The Interview Process </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<h2>Important skills for
	interviews</h2>
	<ul>
	<li><p>Analytical
		skills: Did you need much help solving the problem? How optimal was
		your solution? How long did it take you to arrive at a solution? If
		you had to design/architect a new solution, did you structure the
		problem well and think through the tradeoffs of different decisions?
		</p>
	<li><p>Coding
		skills: Were you able to successfully translate your algorithm to
		reasonable code? Was it clean and well-organized? Did you think
		about potential errors? Did you use good style? 
		</p>
	<li><p>Technical
		knowledge/ Computer Science fundamentals: Do you have a strong
		foundation in computer science and the relevant technologies? 
		</p>
	<li><p>Experience:
		Have you made good technical decisions in the past? Have you built
		interesting, challenging projects? Have you shown drive, initiative,
		and other important factors? 
		</p>
	<li><p>Culture
		fit/ Communication skills: Do your personality and values fit with
		the company and team? Did you communicate well with your
		interviewer?</p>
	</ul>
	<h2>Important facts about
	interviews</h2>
	<ul>
	<li><p>False
		negatives are acceptable.</p>
	<li><p>Problem-solving
		skills are valuable.</p>
	<li><p>Basic
		data structure and algorithm knowledge is useful.</p>
	<li><p>Whiteboards
		let you focus on what matters.</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Behind the Scenes </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>The
	&quot;screening&quot; interview often involves coding and algorithms
	questions, and the bar can be just as high as it is for in-person
	interviews. If you're unsure whether or not the interview will be
	technical, ask your recruiting coordinator what position your
	interviewer holds (or what the interview might cover). An engineer
	will usually perform a technical interview.</p>
	<p><b>Not
	responding indicates nothing about your status. The intention is that
	all recruiters should tell candidates once a final decision is made.</b></p>
	<h2>Some things that could be
	evaluated or taken into account</h2>
	<p>not
	responding indicates nothing about your status. The intention is that
	all recruiters should tell candidates once a final decision is made.</p>
	<ul>
	<li><p>Passion
		about technology</p>
	<li><p>Scalability
		questions</p>
	<li><p>Object
		Oriented Design</p>
	<li><p>Analytical
		(algorithm) skills</p>
	<li><p>Read up on
		product/company</p>
	<li><p>Passion for
		the job.</p>
	<li><p>Entrepreneurial
		spirit</p>
	<li><p>Love to
		build stuff fast</p>
	<li><p>Core data
		structures and algorithms inside and out</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Special Situations </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<h2>Testers and SDETs</h2>
	<p>SDETs
	(software design engineers in test) write code, but to test features
	instead of build features.</p>
	<ul>
	<li><p>Prepare the
		Core Testing Problems:</p>
	<li><p>Practice the
		Coding Questions 
		</p>
	<li><p>Practice
		Testing the Coding Questions</p>
	</ul>
	<p>If
	you are hoping to apply to an SDET position as the &quot;easy&quot;
	way into a company, <b>be
	aware that many candidates find it very difficult to move from an
	SDET position to a dev position</b>.
	Make sure to keep your coding and algorithms skills very sharp if you
	hope to make this move, and <b>try
	to switch within one to two years.</b></p>
	<h2>Product (and Program)
	Management</h2>
	<ul>
	<li><p>Handling
		Ambiguity: Interviewers want to see that, when faced with an
		ambiguous situation, you don't get overwhelmed and stall. 
		</p>
	<li><p>Customer
		Focus (Attitude): Interviewers want to see that your attitude is
		customer focused: Be sure to ask a lot of questions to understand
		who the customer is and how they are using the product. 
		</p>
	<li><p>Customer
		Focus (Technical Skills): Strong understanding of the product</p>
	<li><p>Multi-Level
		Communication</p>
	<li><p>Passion for
		Technology</p>
	<li><p>Teamwork/
		Leadership</p>
	</ul>
	<h2>Dev Lead and Managers</h2>
	<p>Strong
	coding skills are almost always required for dev lead positions and
	often for management positions as well. If you'll be coding on the
	job, make sure to be very strong with coding and algorithms.</p>
	<ul>
	<li><p>Teamwork I
		Leadership</p>
	<li><p>Prioritization</p>
	<li><p>Communication</p>
	<li><p>&quot;Getting
		Things Done&quot;</p>
	</ul>
	<h2>Notes</h2>
	<p>Remember:
	“This sounds like a math problem. Don't worry. It's not. It's an
	algorithm question”</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Before the Interview </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<ul>
	<li><p>Take
		the Big Project Classes</p>
	<li><p>Get an
		Internship</p>
	<li><p>Start
		Something: Build</p>
	<li><p>Shift Work
		Responsibilities More Towards Coding</p>
	<li><p>Use Your
		Nights and Weekends: If you have some free time, use it to build a
		mobile app, a web app, or a piece of desktop software.</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Behavioral Questions </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>Behavioral
	questions are asked to get to know your personality, to understand
	your resume more deeply, and just to ease you into an interview.</p>
	<ul>
	<li><p>What
		are your weaknesses?: When asked about your weaknesses, give a real
		weakness. A good answer
		conveys a real, legitimate weakness but emphasizes how you work to
		overcome it.</p>
	<li><p>What
		questions should you ask the interviewer?</p>
	<ul>
	<li><p>Genuine
			Questions: These are the questions you actually want to know the
			answers to.</p>
	<li><p>Insightful
			Questions: These questions demonstrate your knowledge or
			understanding of technology. (Why they use that technology...)</p>
	<li><p>Passion
			Questions: These questions are designed to demonstrate your passion
			for technology. They show that you're interested in learning and
			will be a strong contributor to the company.</p>
		</ul>
	</ul>
	<h2>Responding to Behavioral
	Questions</h2>
	<ul>
	<li><p>Be
		Specific, Not Arrogant</p>
	<li><p>Limit
		Details: Demonstrate the key points while letting your interviewer
		ask for more details if he wants to</p>
	<li><p>Focus on
		Yourself, Not Your Team</p>
	<li><p>Give
		Structured Answers</p>
	<ul>
	<li><p>Nugget
			First Nugget First means starting your response with a &quot;nugget&quot;
			that succinctly describes what your response will be about. This
			technique grabs your interviewer's attention and makes it very
			clear what your story will be about. It also helps you be more
			focused in your communication, since you've made it very clear to
			yourself what the gist of your response is.</p>
	<li><p>S.A.R</p>
	<ul>
	<li><p>Situation</p>
	<li><p>Action 
				</p>
	<li><p>Result</p>
			</ul>
		</ul>
	</ul>
	<h2>So, tell me about yourself …</h2>
	<p>Structure</p>
	<ol>
	<li><p>Current Role</p>
	<li><p>College
		(background) 
		</p>
	<li><p>Post College
		&amp; Onwards</p>
	<li><p>Current Role
		(Details)</p>
	<li><p>Outside of
		Work</p>
	<li><p>Wrap Up</p>
	</ol>
	<h2>Hobbies</h2>
	<p>Think
	carefully about your hobbies</p>
	<p>Sometimes
	though, hobbies can be useful. This often happens when:</p>
	<ul>
	<li><p>The hobby is
		extremely unique: It may strike up a bit of a conversation and kick
		off the interview on a more amiable note. 
		</p>
	<li><p>The hobby is
		technical. This not only boosts your actual skillset, but it also
		shows passion for technology. 
		</p>
	<li><p>The hobby
		demonstrates a positive personality attribute</p>
	</ul>
	<p>It
	would rarely hurt to mention hobbies, so when in doubt, you might as
	well.</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> BigO </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>O
	(big 0): Describes an upper bound on the time. (Worst Case)</p>
	<p>Ω
	(big omega): The equivalent concept but for lower bound. It won't be
	faster than those runtimes. (Best Case)</p>
	<p>Θ
	(big theta): Gives a tight bound on runtime. (Expected Case)</p>
	<h2>Rules</h2>
	<ul>
	<li><p>Drop the
		Constants</p>
	<li><p>Drop the
		Non-Dominant Terms</p>
	<li><p>Multi-Part
		Algorithms: Add vs. Multiply</p>
	<ul>
	<li><p>If your
			algorithm is in the form &quot;do this, then, when you're all done,
			do that&quot; then you add the runtimes. 
			</p>
	<li><p>If your
			algorithm is in the form &quot;do this for each time you do that&quot;
			then you multiply the runtimes.</p>
		</ul>
	</ul>
	<h2>Space Complexity 
	</h2>
	<p>Time
	is not the only thing that matters in an algorithm. We might also
	care about the amount of <b>memory
	or space-required by an algorithm.</b></p>
	<h2>Amortized Time</h2>
	<p>An
	Arraylist is implemented with an array. When the array hits capacity,
	the Arraylist class will create a new array with double the capacity
	and copy all the elements over to the new array</p>
	<p>We
	need a concept that takes both into account. <b>This
	is what amortized time does. It allows us to describe that, yes, this
	worst case happens every once in a while.</b>
	But once it happens, it won't happen again for so long that the cost
	is &quot;amortized”</p>
	<h2>Log N Runtimes</h2>
	<p>When
	you see a problem where the number of elements in the problem space
	gets halved each time, that will likely be a O( log N) runtime.</p>
	<h2>Recursive Runtimes</h2>
	<p>When
	you have a recursive function that makes multiple calls, the runtime
	will often (but not always) look like O( branches<sup>depth</sup>),
	where branches are the number of times each recursive call branches.
	In this case, this gives us O ( 2<sup>N</sup>).</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Technical Questions </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>How to prepare</p>
	<ol>
	<li><p>Try to solve
		the problem on your own</p>
	<li><p>Write the
		code on paper</p>
	<li><p>Test your
		code-on paper</p>
	<li><p>Type your
		paper code as-is into a computer</p>
	</ol>
	<h2>What You Need To Know</h2>
	<ul>
	<li><p>Core
		Data Structures, Algorithms, and Concepts</p>
	</ul>
	<table>
	<col>
	<col>
	<col>
	<tr>
	<td>
	<p>Data
				Structures</p>
			</td>
	<td>
	<p>Algorithms</p>
			</td>
	<td>
	<p>Concepts</p>
			</td>
		</tr>
	<tr>
	<td>
	<p>Linked
				Lists</p>
	<p>Trees,
				Tries, &amp; Graphs</p>
	<p>Stacks
				&amp; Queues</p>
	<p>Heaps</p>
	<p>Vectors/Arraylists
				</p>
	<p>Hash
				Tables</p>
			</td>
	<td>
	<p>Breadth-First
				Search</p>
	<p>Depth-First
				Search</p>
	<p>Binary
				Search</p>
	<p>Merge
				Sort</p>
	<p>Quick
				Sort</p>
			</td>
	<td>
	<p>Bit
				Manipulation</p>
	<p>Memory
				(Stack vs. Heap)</p>
	<p>Recursion</p>
	<p>Dynamic
				Programming</p>
	<p>Big
				O Time &amp; Space</p>
			</td>
		</tr>
	</table>
	<h2>Problem solving steps</h2>
	<ol>
	<li><p>Listen
		Carefully: Listen carefully to the problem, and be sure that you've
		mentally recorded any unique information in the problem.</p>
	<ul>
	<li><p>You
			probably need to know that the data is sorted. The optimal
			algorithm for the sorted situation is probably different than the
			optimal algorithm for the unsorted situation.</p>
	<li><p>The
			server/to-be-run-repeatedly situation is different from the
			run-once situation. Perhaps this means that you cache data? Or
			perhaps it justifies some reasonable precomputation on the initial
			dataset?</p>
		</ul>
	<li><p>Draw an
		Example: You want to create an example that is: 
		</p>
	<ul>
	<li><p>Specific.
			It should use real numbers or strings (if applicable to the
			problem). 
			</p>
	<li><p>Sufficiently
			large. Most examples are too small, by about 50%. 
			</p>
	<li><p>Not a
			special case. Be careful. It's very easy to inadvertently draw a
			special case. If there's any way your example is a special case
			(even if you think it probably won't be a big deal), you should fix
			it</p>
		</ul>
	<li><p>State a
		Brute Force</p>
	<li><p>0ptimize</p>
	<ul>
	<li><p>Look for
			any unused information. 
			</p>
	<ul>
	<li><p>Did your
				interviewer tell you that the array was sorted? 
				</p>
	<li><p>How can
				you leverage that information? 
				</p>
			</ul>
	<li><p>Use a fresh
			example. Sometimes, just seeing a different example will unclog
			your mind or help you see a pattern in the problem. 
			</p>
	<li><p>Solve it
			&quot;incorrectly:' Just like having an inefficient solution can
			help you find an efficient solution, having an incorrect solution
			might help you find a correct solution. 
			</p>
	<li><p>Make time
			vs. space tradeoff. Sometimes storing extra state about the problem
			can help you optimize the runtime.</p>
	<li><p>Precompute
			information. 
			</p>
	<ul>
	<li><p>Is there a
				way that you can reorganize the data (sorting, etc.) 
				</p>
	<li><p>compute
				some values upfront that will help save time in the long run?</p>
			</ul>
	<li><p>Use a hash
			table. Hash tables are widely used in interview questions and
			should be at the top of your mind.</p>
	<li><p>Think about
			the best conceivable runtime</p>
		</ul>
	<li><p>Walk
		Through: Take a moment to solidify your understanding of the
		algorithm. <br>Walk through your algorithm
		and get a feel for the structure of the code. Know what the
		variables are and when they change.</p>
	<li><p>Implement:</p>
	<ul>
	<li><p>Start
			coding in the far top left corner of the whiteboard</p>
	<li><p>Avoid &quot;line
			creep&quot; (where each line of code is written an awkward slant)</p>
	<li><p>Modularized
			code</p>
	<li><p>If your
			algorithm uses a matrix initialized, don't waste your time writing
			this initialization code. Just pretend you have a function.</p>
	<li><p>Error
			checks</p>
	<li><p>Use other
			classes/structs where appropriate</p>
	<li><p>Good
			variable names.</p>
	<ul>
	<li><p>i and j,
				where appropriate (such as in a basic for-loop iterating through
				an array)</p>
			</ul>
		</ul>
	<li><p>Test</p>
	</ol>
	<ol>
	<li><p>Start with a
		&quot;conceptual&quot;test. A conceptual test means just reading and
		analyzing what each line of code does. Think about it like you're
		explaining the lines of code for a code reviewer. Does the code do
		what you think it should do?</p>
	<li><p>Weird
		looking code. Double check that line of code that says x = length -
		2. Investigate that for loop that starts at i = 1. While you
		undoubtedly did this for a reason, it's really easy to get it just
		slightly wrong.</p>
	<li><p>Hot spots.
		You've coded long enough to know what things are likely to cause
		problems. 
		</p>
	<ul>
	<li><p>Base cases
			in recursive code. 
			</p>
	<li><p>Integer
			division. 
			</p>
	<li><p>Null nodes
			in binary trees. 
			</p>
	<li><p>The start
			and end of iteration through a linked list. 
			</p>
		</ul>
	<li><p>Small test
		cases.</p>
	<li><p>Special
		cases</p>
	</ol>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Optimize &amp; Solve </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<h2>Technique #1: Look for BUD</h2>
	<p>Bottlenecks:
	A bottleneck is a part of your algorithm that slows down the overall
	runtime.</p>
	<p>Unnecessary
	work:</p>
	<p>Duplicated
	work</p>
	<h2>Technique #2: DIY (Do It
	Yourself)</h2>
	<h2>Technique #3: Simplify and
	Generalize</h2>
	<p>With
	Simplify and Generalize, we implement a multi-step approach. 
	</p>
	<ol>
	<li><p>First
		we simplify or tweak some constraint, such as the data type. 
		</p>
	<li><p>Then,
		we solve this new simplified version of the problem. 
		</p>
	<li><p>Finally,
		once we have an algorithm for the simplified problem, we try to
		adapt it for the more complex version.</p>
	</ol>
	<h2>Technique #4: Base Case and
	Build</h2>
	<p>With
	Base Case and Build, we solve the problem first for a base case and
	then try to build up from there. When we get to more
	complex/interesting cases, we try to build those using the prior
	solutions.</p>
	<h2>Technique #5: Data Structure
	Brainstorm</h2>
	<p>We
	can simply run through a list of data structures and try to apply
	each one. This approach is useful because solving a problem may be
	trivial once it occurs to us to use, say, a tree.</p>
	<h2>Best Conceivable Runtime (BCR)</h2>
	<p>The
	best conceivable runtime is, literally, the best runtime you could
	conceive of a solution to a problem having.</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> During interview </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<h2>Handling Incorrect Answers</h2>
	<p>First,
	responses to interview questions shouldn't be thought of as &quot;correct&quot;
	or &quot;incorrect”</p>
	<h2>When You've Heard a Question
	Before</h2>
	<p>If
	you've heard a question before, <b>admit
	this to your interviewer</b>.
	Your interviewer is asking you these questions in order to evaluate
	your problem-solving skills.</p>
	<h2>The &quot;Perfect&quot;
	Language for Interviews</h2>
	<p>Prevalence:
	A more widely known language can be better for interviews.</p>
	<p>Language
	Readability</p>
	<p>Potential
	Problems: Some languages just open you up to potential issues</p>
	<p>Verbosity:
	Verbosity can be reduced by abbreviating code</p>
	<p>Ease
	of Use</p>
	<h2>What Good Coding Looks Like</h2>
	<p>Correct:
	The code should operate correctly on all expected and unexpected
	inputs. 
	</p>
	<p>Efficient:
	The code should operate as efficiently as possible in terms of both
	time and space.</p>
	<p>Simple:
	Code should be as quick as possible for a developer to write</p>
	<p>Readable:
	<b>A
	different developer should be able to read your code and understand
	what it does and how</b>
	it does it. Readable code has comments where necessary, but it
	implements things in an easily understandable way. That means that
	your fancy code that does a bunch of complex bit shifting is not
	necessarily good code</p>
	<p>Maintainable:
	Code should be reasonably adaptable to changes during the life cycle
	of a product and should be easy to maintain by other developers, as
	well as the initial developer.</p>
	<h2>Use Data Structures Generously</h2>
	<h2>Appropriate Code Reuse</h2>
	<h2>Modular 
	</h2>
	<p>Writing
	modular code means separating isolated chunks of code out into their
	own methods. This helps keep the code more maintainable, readable,
	and testable.</p>
	<p>While
	the non-modular code isn't particularly awful, the nice thing about
	the modular code is that it's easily testable because each component
	can be verified separately. As code gets more complex, it becomes
	increasingly important to write it in a modular way. This will make
	it easier to read and maintain. Your interviewer wants to see you
	demonstrate these skills in your interview.</p>
	<h2>Flexible and Robust</h2>
	<p>Writing
	flexible, general-purpose code may also mean using variables instead
	of hard-coded values or using templates/ generics to solve a problem.
	If we can write our code to solve a more general problem, we should.</p>
	<h2>Error Checking</h2>
	<h2>Don't Give Up! 
	</h2>
	<p>Interview
	questions can be overwhelming, but that's part of what the
	interviewer is testing. Do you rise to a challenge, or do you shrink
	back in fear? It's important that you step up and eagerly meet a
	tricky problem head-on. After all,<b>
	remember that interviews are supposed to be hard</b>.
	It shouldn't be a surprise when you get a really tough problem.</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> The Offer and Beyond </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<h2>Offer Deadlines and Extensions
	</h2>
	<p>When
	companies extend an offer, there's almost always a deadline attached
	to it. Usually, these deadlines are one to four weeks out. If you're
	still waiting to hear back from other companies, you can ask for an
	extension. Companies will usually try to accommodate this, if
	possible.</p>
	<h2>Declining an Offer</h2>
	<p>When
	you decline an offer, provide a reason that is non-offensive and
	inarguable. For example, if you were declining a big company for a
	startup, you could explain that you feel a startup is the right
	choice for you at this time.</p>
	<h2>Evaluating the Offer</h2>
	<p>The
	Financial Package:</p>
	<ul>
	<li><p><b>Salary
		is just one part of your financial compensation. </b>
		</p>
	<li><p>Signing
		Bonus, Relocation, and Other One Time Perks: Many companies offer a
		signing bonus and/or relocation. When comparing offers, it's wise to
		amortize this cash over three years (or however long you expect to
		stay). 
		</p>
	<li><p>Cost
		of Living Difference: Taxes and other cost of living differences can
		make a big difference in your takehome pay. Silicon Valley, for
		example, is 30+% more expensive than Seattle. 
		</p>
	<li><p>Annual
		Bonus: Annual bonuses at tech companies can range from anywhere from
		3% to 30%. Your recruiter might reveal the average annual bonus, but
		if not, check with friends at the company. 
		</p>
	<li><p>Stock
		Options and Grants: Equity compensation can form another big part of
		your annual compensation. Like signing bonuses, stock compensation
		between companies can be compared by amortizing it over three years
		and then lumping that value into salary</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> The Happiness Factor  </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>You
	must of course consider how happy you will be. Any of the following
	factors may impact that: 
	</p>
	<ul>
	<li><p>The
		Product: Many people look heavily at what product they are building,
		and of course this matters a bit. However, for most engineers, there
		are more important factor, such as who you work with. Manager and
		Teammates: When people say that they love, or hate, their job, it's
		often because of their teammates and their manager. Have you met
		them? Did you enjoy talking with them?</p>
	<li><p>Company
		Culture: Culture is tied to everything from how decisions get made,
		to the social atmosphere, to how the company is organized. Ask your
		future teammates how they would describe the culture. 
		</p>
	<li><p>Hours:
		Ask future teammates about how long they typically work, and figure
		out if that meshes with your lifestyle. Remember, though, that hours
		before major deadlines are typically much longer.</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Set a Timeline </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>When
	you're enjoying your job, it's very easy to get wrapped up in it and
	not realize that your career is not advancing. This is why you should
	outline your career path before starting a new job. 
	</p>
	<ul>
	<li><p><b>Where
		do you want to be in ten years? </b>
		</p>
	<li><p>What
		are the steps necessary to get there? 
		</p>
	</ul>
	<p>In
	addition, each year, think about what the next year of experience
	will bring you and how your career or your skill set advanced in the
	last year. By outlining your path in advance and checking in on it
	regularly, you can avoid falling into this complacency trap.</p>
	<p><br><br>
	</p>

</mat-expansion-panel>