<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        What did I learn?
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>

<p>This month was very fruitful. I learned several things associated with learning strategies, how to relate with others, and some kind of kinds of stuff related to software development as testing.</p>
<p>The first week I read and saw some content related to time administration and personal growth. Here I learned how to building and forgetting habits and the importance of accepting you can grow up more.</p>
<p>The second week I learned about intuition and how to use it. I also learned how to practice my creativity. Additionally, I meditated about my automatic mode.</p>
<p>In the third week, I learned how some compressors work to how to work better with others. If I should summarize this week in three words, I'll choose remix, kaizen, and collaboration. It is marvelous how the combination of different disciplines ends up with a totally new concept. Furthermore, there was material related to tolerance and how to enhance empathy.</p>
<p>The fourth week was related to artificial intelligence and quantum computing. We explored some libraries and learned how quantum computing could help with AI development and simulations. Moreover, I watched videos related to motivation and moonshot strategy.</p>
<p>The last week of this month, I studied pretotyping and testing practices.</p>
<p>Now, talking about the books read this month. One of them was about the computer's history and the other about some effective study strategies.</p>