<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        Code: The Hidden Language of Computer Hardware & Software
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        Summary By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>

<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 1. Best Friends </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>In
Morse code, you have two kinds of blinks—short blinks and long
blinks.</P>
<P>In
many languages, a strong correspondence exists between speech and
text.</P>
<P>A
code is useful if it serves a purpose that no other code can.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 2. Codes and Combinations </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
word undefined used in this context refers to a code that doesn't
stand for anything.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 3. Braille and Binary Codes </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This
system used a pattern of raised dots and dashes on heavy paper and
was intended for use by soldiers in passing notes to each other in
the dark when quiet was necessary.</P>
<P>Codes
such as these are often called precedence, or shift, codes. They
alter the meaning of all subsequent codes until the shift is undone.</P>
<P>Escape
codes let you &quot;escape&quot; from the humdrum, routine
interpretation of a sequence of codes and move to a new
interpretation. As we'll see in later chapters, shift codes and
escape codes are common when written languages are represented by
binary codes.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 5. Seeing Around Corners </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>A
bit of confusion surrounds the word ground because it's also often
used to refer to a part of a circuit we've been calling the common.
In this chapter, and until I indicate otherwise, a ground is a
physical connection with the earth.</P>
<P>The
smaller the AWG number, the thicker the wire and also the less
resistance it has.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 6. Telegraphs and Relays </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
device we've invented is called a repeater, or a relay. A relay is
like a sounder in that an incoming current is used to power an
electromagnet that pulls down a metal lever.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 7. Our Ten Digits </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Numbers
are certainly the most abstract codes we deal with on a regular
basis.</P>
<P>The
Hindu-Arabic number system is said to be positional, which means that
a particular digit represents a different quantity depending on where
it is found in the number.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 8. Alternatives to Ten </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Ten
is an exceptionally important number to us humans. Ten is the number
of fingers and toes most of us have, and we certainly prefer to have
all ten of each.</P>
<P>John
Wilder Tukey</P>
<P>He
decided to coin a new, shorter word to replace the unwieldy five
syllables of binary digit. He considered bigit and binit but settled
instead on the short, simple, elegant, and perfectly lovely word bit.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 9. Bit by Bit by Bit </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
thing about the bit is that it conveys very little information. A bit
of information is the tiniest amount of information possible.</P>
<P>In
the lingo of communication theory, he used redundancy to counteract
the effect of noise. The word noise is used in communication theory
to refer to anything that interferes with communication.</P>
<P>So
if the base two logarithm of 128 is 7, and the base two logarithm of
256 is 8, then what's the base two logarithm of 200? It's actually
about 7.64, but we really don't have to know that. If we needed to
represent 200 different things with bits, we'd need 8 bits.</P>
<P>Perhaps
the most common visual display of binary digits is the ubiquitous
Universal Product Code (UPC)</P>
<P>This
is known as the left-hand guard pattern, and it allows the
computer-scanning device to get oriented.</P>
<P>From
the guard pattern, the scanner can determine the width of the bars
and gaps that correspond to single bits.</P>
<P>You'll
see that each code in this table has an odd number of 1 bits. This is
another form of error and consistency checking known as parity.</P>
<P>A
group of bits has even parity if it has an even number of 1 bits and
odd parity if it has an odd number of 1 bits.</P>
<P>Modulo
check character. This character enables yet another form of error
checking.</P>
<P>All
that needs to be done when bits represent other information is to
count the number of possibilities. This determines the number of bits
that are needed so that each possibility can be assigned a number.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 10. Logic and Switches </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
basis of Aristotle's logic was the syllogism. In a syllogism, two
premises are assumed to be correct, and from these a conclusion is
deduced.</P>
<P>In
conventional algebra, the operands (which are usually letters) stand
for numbers, and the operators (most often + and x) indicate how
these numbers are to be combined.</P>
<P>The
first rule is that addition and multiplication are commutative.</P>
<P>By
contrast, subtraction and division are not commutative. Addition and
multiplication are also associative, multiplication is said to be
distributive over addition.</P>
<P>It
was Boole's genius to make algebra more abstract by divorcing it from
concepts of number.</P>
<P>In
Boolean algebra (as Boole's algebra was eventually called), the
operands refer not to numbers but instead to classes.</P>
<P>A
class is simply a group of things, what in later times came to be
known as a set.</P>
<P>In
conventional (numeric) algebra, the operators + and x are used to
indicate addition and multiplication. In Boolean algebra, the same +
and x symbols are used, and here's where things might get confusing.
Everybody knows how to add and multiply numbers in conventional
algebra, but how do we add and multiply classes?</P>
<P>The
+ symbol in Boolean algebra means a union of two classes. A union of
two classes is everything in the first class combined with everything
in the second class.</P>
<P>The
x symbol in Boolean algebra means an intersection of two classes. An
intersection of two classes is everything that is in both the first
class and the second class.</P>
<P>To
avoid confusion between conventional algebra and Boolean algebra,
sometimes the symbols U and ∩ are used for union and intersection
instead of + and x.</P>
<P>The
commutative, associative, and distributive rules all hold for Boolean
algebra.</P>
<P>What's
more, in Boolean algebra the + operator is distributive over the x
operator. This isn't true of conventional algebra:</P>
<P>The
symbol 1 in Boolean algebra means &quot;the universe&quot;—that is,
everything we're talking about.</P>
<P>The
1 symbol can be used with a minus sign to indicate the universe
excluding something.</P>
<P>The
other symbol that we need is the 0, and in Boolean algebra the 0
means an empty class—a class of nothing.</P>
<P>The
empty class results when we take an intersection of two mutually
exclusive classes,</P>
<P>It's
called the Law of Contradiction and indicates that something can't be
both itself and the opposite of itself.</P>
<P>Boolean
algebra provides a mathematical method for solving the syllogisms of
Aristotle.</P>
<P>but
Boolean algebra can also be used to determine whether something
satisfies a certain set of criteria.</P>
<P>In
addition, you can use the word NOT wherever you see a 1 followed by a
minus sign.</P>
<P>The
+ (previously known as a union) now means OR. The x (previously known
as an intersection) now means AND. The 1 – (previously the universe
without something) now means NOT.</P>
<P>With
this formula written down, the salesperson can perform something
called a Boolean test. Without making a big fuss about it, I've
subtly shifted to a somewhat different form of Boolean algebra. In
this form of Boolean algebra, letters no longer refer to classes.
Instead, the letters can now be assigned numbers.</P>
<P>The
numeral 1 means Yes, True, this particular cat satisfies these
criteria. The numeral 0 means No, False, this cat doesn't satisfy
these criteria.</P>
<P>While
we're simplifying the expression, keep in mind that we're not really
adding and multiplying, although generally we can pretend that we
are. Most of the same rules apply when + means OR and x means AND.
(Sometimes in modern texts the symbols ^ and ν are used for AND and
OR instead of x and +. But here's where the + and x signs perhaps
make the most sense.)</P>
<P>Not
even that icon of the computer revolution Charles Babbage
(1792–1871), who had corresponded with Boole and knew his work, and
who struggled for much of his life designing first a Difference
Engine and then an Analytical Engine that a century later would be
regarded as the precursors to modern computers.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 11. Gates (Not Bill) </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Logic
gates perform simple tasks in logic by blocking or letting through
the flow of electrical current.</P>
<P>Input
is information that controls how a circuit behaves.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 13. But What About Subtraction? </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This
type of notation is called ten's complement. To convert a 3-digit
negative number to ten's complement, we subtract it from 999 and add
1.</P>
<P>The
range of numbers that you can represent is now limited to –128
through +127. The most significant (leftmost) bit is known as the
sign bit. The sign bit is 1 for negative numbers and 0 for positive
numbers.</P>
<P>To
calculate the two's complement, first calculate the ones' complement
and then add 1. This is equivalent to inverting all the digits and
adding 1.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 15. Bytes and Hex </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
word had its origins in the word bite but was spelled with a y so
that nobody would mistake the word for bit.</P>
<P>the
word came to mean a group of 8 bits.</P>
<P>Half
a byte—that is, 4 bits—is sometimes referred to as a nibble (and
is sometimes spelled nybble), but this word doesn't come up in
conversation nearly as often as byte.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 16. An Assemblage of Memory </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>It's
called random access memory because each of the eight latches can be
read from or written to simply by changing the Address inputs.</P>
<P>In
contrast, some other types of memory have to be read
sequentially—that is, you'd have to read the value stored at
address 100 before you could read the value stored at address 101.</P>
<P>Number
of values in RAM array = 2Number of Address inputs</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 17. Automation </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Numeric
codes used in such a manner are often called instruction codes, or
operation codes, or (most concisely) opcodes. They &quot;instruct&quot;
circuitry to perform a certain &quot;operation.&quot;</P>
<P>Our
ALU performs only arithmetic, specifically addition and subtraction.
In slightly more sophisticated computers (as we'll see), the ALU can
also perform logical functions, such as AND, OR, and XOR. The 16-bit
counter is called a Program Counter.</P>
<P>It's
&quot;soft&quot; because it can be changed much more easily than the
hardware can.</P>
<P>in
computer programs, we can distinquish between code (which refers to
the instructions themselves) and data, which are the numbers that the
code manipulates.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 18. From Abaci to Chips </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
product of two numbers is simply the sum of their logarithms.</P>
<P>Pins
corresponding to punched holes in the cards came into contact with a
pool of mercury that completed an electrical circuit that triggered
an electromagnet that incremented a decimal counter.</P>
<P>who
in 1924 changed the name of the company to International Business
Machines Corporation, or IBM.</P>
<P>the
first relay computer seems to have been constructed by Conrad Zuse
(1910–1995), who as an engineering student in 1935 began building a
machine in his parents' apartment in Berlin.</P>
<P>It
was the first transistor, a device that some people have called the
most important invention of the twentieth century.</P>
<P>TTL
stands for transistor-transistor logic.</P>
<P>CMOS,
which stands for complementary metal-oxide semiconductor.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 19. Two Classic Microprocessors </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>An
emulator program running on the PowerPC examines each opcode of a 68K
program, one by one, and performs an appropriate action.</P>
<P>One
is pipelining. When the processor is executing one instruction, it's
reading in the next instructions, even to a certain extent
anticipating how Jump instructions will alter the execution flow.
Modern processors also include a cache (pronounced cash). This is an
array of very fast RAM inside the processor that is used to store
recently executed instructions. Because computer programs often
execute small loops of instructions, the cache prevents these
instructions from being repetitively reloaded.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 20. ASCII and a Cast of Characters </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
consecutive character codes for such a sentence are often referred to
as a text string.</P>
<P>The
only real problem with Unicode is that it makes invalid the old
equivalence between one character of text and 1 byte of storage.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 21. Get on the Bus </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>A
bus is simply a collection of digital signals that are provided to
every board in a computer.</P>
<P>Address
signals to address random access memory.</P>
<P>
Data
Output signals to address other devices attached to the computer.</P>
<P>A
data output signal from the microprocessor becomes a data input
signal to RAM and other devices to write data to RAM or to other
devices.</P>
<P>Data
Input signals provided by other parts read by the microprocessor.</P>
<P>Control
signals the control signals of the particular microprocessor around
which the computer is built.</P>
<P>The
bus supplies power to the various boards that the computer comprises.</P>
<P>Direct
memory access (DMA) requests.</P>
<P>Normally,
the microprocessor handles all reading from and writing to memory.
But using DMA, another device can bypass the microprocessor by taking
over the bus and reading from or writing to memory directly.</P>
<P>Just
about everything that's connected to the bus uses the data input
signals of the bus. At any time, only one board connected to the bus
should be determining what those data input signals are.</P>
<P>Bandwidth
is an extremely important concept in communication, and it relates to
the amount of information that can be transferred over a particular
communication medium.</P>
<P>Pixel:
Picture element.</P>
<P>Disks
are generally categorized as floppy disks (also called diskettes) or
hard disks (also called fixed disks).</P>
<P>The
most obvious difference between memory and storage is that memory is
volatile; it loses its contents when the power is shut off.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 22. The Operating System </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
first priority has to be to get rid of the control panel.</P>
<P>A
file system is a method of disk storage in which data is organized
into files.</P>
<P>A
file is simply a collection of related data that occupies one or more
sectors on the disk.</P>
<P>Most
important, each file is identified by a name that helps you remember
what the file contains.</P>
<P>First,
each file on the disk is identified by a name.</P>
<P>Second,
files don't have to occupy consecutive sectors on a disk.</P>
<P>The
first two allocation blocks are used for the directory.</P>
<P>The
directory is the area of the disk that contains the names and some
crucial information about every file stored on the disk.</P>
<P>A
file that isn't a text file is called a binary file.</P>
<P>Application
programming interface, or API.</P>
<P>Frequently,
the BDOS has to make use of subroutines in the Basic Input/Output
System (BIOS) which is the area that actually accesses the hardware
of the keyboard, the video display, and the disk drives.</P>
<P>The
API is a device-independent interface to the hardware of the
computer.</P>
<P>The
normal directory on the disk is called the root directory.
Directories contained in other directories are called subdirectories.</P>
<P>virtual
memory, in which blocks of memory are stored in temporary files
during periods when the memory blocks aren't needed and then read
back into memory when they are needed.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 23. Fixed Point, Floating Point </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This
number can't be expressed as the ratio of two integers, which means
that the decimal fraction continues indefinitely without any
repetition or pattern:</P>
<P>If
a number is not a solution of any algebraic equation with whole
number coefficients, it's called a transcendental.</P>
<P>This
type of storage and notation is also called fixed-point format
because the decimal point is always fixed at a particular number of
places—in</P>
<P>Fixed-point
format works well only if you know that numbers aren't going to get
too large for the memory location that you've mapped out and that you
won't need more decimal places.</P>
<P>floating-point
addition basically requires that you add two significands; the tricky
part is using the two exponents to figure out how the two
significands mesh.</P>
<P>Floating-point
arithmetic is so important to scientific and engineering applications
that it's traditionally been given a very high priority.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 24. Languages High and Low </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This
is called a cross-assembler.</P>
<P>The
first problem is that it can be very tedious.</P>
<P>You're
working down on the level of the microprocessor chip, and you have to
worry about every little thing.</P>
<P>The
second problem is that assembly language isn't portable.</P>
<P>Compiler,
which is the program that converts the statements of your high-level
language to machine code.</P>
<P>An
assembler is simplified somewhat because of the one-to-one
correspondence between assembly-language statements and machine code.
A compiler usually must translate a single statement of a high-level
language into many machine-code instructions.</P>
<P>A
primary advantage is that high-level languages are usually easier to
learn and to program in than assembly languages.</P>
<P>High-level
languages are often portable—that is, they aren't dependent on a
particular processor as are assembly languages.</P>
<P>The
actual executable files are still specific to individual processors.</P>
<P>It's
almost always the case that a good assembly-language programmer can
write better code than a compiler can.</P>
<P>Run-time
error—an error that's apparent only when you run the program.</P>
<P>The
real statement is called a declaration statement. It indicates that
you want to declare the presence of variables in your program.</P>
<P>assignment
statement equal sign example(a=2).</P>
<P>The
loop allows you to write a program that does the same thing for many
different values of a variable.</P>
<P>Conditional.
This is a statement that causes another statement to execute only if
a particular condition is true.</P>
<P>&quot;computer
science is like engineering—it is all about getting something to do
something.&quot;</P>
<P>An
interpreter, however, reads source code and executes it directly as
it's reading it without creating an executable file.</P>
<P>Interpreters
are easier to write than compilers, but the execution time of the
interpreted program tends to be slower than that of a compiled
program.</P>
<P>C
is the exception to this rule. In addition, an important feature of C
is its support of pointers, which are essentially numeric memory
addresses.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 25. The Graphical Revolution </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
SAGE computers also supported light pens that let the operators alter
images on the display. Light pens are peculiar devices that look like
a stylus with a wire attached to one end. If the proper software is
running, the computer can detect where the light pen is pointing on
the screen and alter an image in response to the pen's movements.</P>
<P>This
is an acronym for &quot;What you see is what you get,&quot; the
contribution to computer lingo of the comedian Flip Wilson in his
Geraldine persona.</P>
<P>This
distinction no doubt originates from the architecture of von Neumann
computers, in which something is either machine code or is data acted
upon by machine code.</P>
<P>In
object-oriented programming, however, an object is a combination of
code and data.</P>
<P>The
actual way in which the data in an object is stored is understood
only by code associated with the object.</P>
<P>Objects
communicate with one another by sending and receiving messages, which
give instructions to an object or ask for information from it.</P>
<P>A
button has a certain dimension and position on the screen and
displays some text or a little picture, all of which is data
associated with the object. Code associated with the object
determines when the user &quot;presses&quot; the button with the
keyboard or the mouse and sends a message indicating the button has
been triggered.</P>
<P>Object-oriented
languages allow the programmer to consider different solutions that
are often structurally superior.</P>
<P>Vector
graphics involves creating images algorithmically using straight
lines, curves, and filled areas.</P>
<P>This
is the province of the computer-assisted drawing (or CAD) program.
Vector graphics finds its most important application in engineering
and architectural design.</P>
<P>A
vector graphics image can be stored in a file in a format referred to
as a metafile.</P>
<P>Raster
graphics (also known as bitmap graphics) comes to the rescue.</P>
<P>A
bitmap encodes an image as a rectangular array of bits that
correspond to the pixels of an output device. Just like a video
display, a bitmap has a spatial dimension (or resolution), which is
the width and height of the image in pixels.</P>
<P>Bitmaps
also have a color dimension (or color resolution, or color depth),
which is the number of bits associated with each pixel.</P>
<P>Both
RLE and LZW are referred to as lossless compression techniques
because the original file can be entirely recreated from the
compressed data.</P>
<P>A
lossy compression isn't reversible because some of the original data
is effectively discarded.</P>
<P>That's
why lossy compression techniques are based on psychovisual research
that investigates human vision to determine what's important and
what's not.</P>
<P>In
particular, whenever analog sound is copied some fidelity is lost.</P>
<P>Digitized
sound is numbers, however, and numbers can always be faithfully
transcribed and copied.</P>
<P>MPEG
compression is used for movies. Moving Pictures Expert Group.
Compression techniques for moving images take advantage of the fact
that a particular frame usually contains much information that's
duplicated from the previous frame.</P>
<P>Java
is somewhere in between. Java programs must be compiled, but the
result of the compilation usually isn't machine code. It's instead
Java byte codes.</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>

</mat-expansion-panel>
