<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Technical annotations </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<P>This
	week, I'll annotate several kinds of stuff learned in this project.
	It doesn't mean that I did all this week.</P>
	<P>Promises
	</P>
	<P>They
	are asynchronous objects that could have three states: promise,
	resolved, and rejected. They are convenient when working with
	functions that could have any delay. In javascript, they have several
	subfunctions that allow you do different stuff, as the functions:
	then, catch, all resolved, etc.</P>
	<P>Axios</P>
	<P>It
	is a Promise-based HTTP client for the browser and node.js. This
	library helps you with HTTP requests.</P>
	<P>To
	check string similarity, we used this npm library: string-similarity.</P>
	<P>It
	finds the degree of similarity between two strings, based on <A HREF="http://en.wikipedia.org/wiki/S%C3%B8rensen%E2%80%93Dice_coefficient">Dice's
	Coefficient</A>,
	which is mostly better than <A HREF="http://en.wikipedia.org/wiki/Levenshtein_distance">Levenshtein
	distance</A>.</P>
	<P>Additionally,
	we worked with several mongo and mongoose instructions. However, they
	were so many, and given how we were working, I couldn't annotate
	them.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Feedback </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<P>We
	reached good teamwork and internal communication. We passed from a
	disorganized team to a very bonding team. However, we have an
	opportunity area respecting how to talk with clients. This is because
	we couldn't fulfill all their expectations. So, in the end, we
	finished the project, but the client wasn't totally convinced about
	it.</P>
	<P>On
	the other hand, a mentor gave us good advice related to this field.
	He said, &quot;most of the time, clients find new functions at every
	iteration, even at the kickoff stage. However, you should have the
	capability to express in good manners that they are out of scope, or
	if it is possible, negotiate with them, but the most important thing
	was that it is necessary to explain the reasons why we can't
	implement them in the project or what we need (if it is a matter of
	time, technical issue, or a budget thing, etc.).&quot;</P>
</mat-expansion-panel>
