<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        Elements of Programming Interviews in Java
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        Summary By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>
<p>This book was focused on practical Java questions. It definitely will help you to prepare for any Java interview. 
</p>
<p>It is also convenient to create a checklist about the basic things you should know about data structures and some programming strategies.</p>
<app-parts></app-parts>