<mat-accordion>
    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Tooling techniques for the performance ninja - Chrome Dev Summit 2013 (Colt
                McAnlis)</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Perfmatters</h2>
    
<p>
    What can be measured can be optimized.
    That means if we can't have a reference about something, this could not be
    enhanced since we don't know if we are going better or worse.
</p>
    
    <h3>Three steps of performance</h3>
    <ol>
        <li>Gather</li>
        <li>Insight</li>
        <li>Action</li>
        <li>Repeat</li>
    </ol>

    <h3>3 Pillars of web performance</h3>
    <ol>
        <li>Network</li>
        <ul>
            <li><p>Optimize the critical path: A browser can paint nothing until it is resolved. This could be done by:</p>
                <ul>
                    <li>Reducing # of critical-path requests</li>
                    <li>Compressing your data</li>
                </ul>
            </li>
        </ul>
        <li>Render
            <ul>
                <li>Reduce paints</li>
                <li>Avoid repaint</li>
            </ul>
        </li>
        <li>Compute
            <ul><li>Reduce JS execution time</li></ul>
        </li>
    </ol>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Variable Length Codes (Ep 1, Compressor Head)</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Conversion and compression are closely related to
            internet speed.</p>
            
            <p>Morse code beginning of sharing information through an
            electromagnetic field, they assigned their representation based on usage
            distribution </p>
            
            <p>There exists some representation based on the morse
            code distribution approach.</p>
            
            <h2>Claud Shannon</h2>
            
            <p>His definition of entropy, a minimum number of bits to
            model data, represents the best estimate of the minimum number of bits required
            to represent the string allows to create a way of storing information content
            based on the probability of symbols. </p>
            
            <p>His method consists on: </p>
            
            <p>Assign shortest codes to most frequent symbols.  </p>
            
            <p>Prefix Property: Once a code has been assigned to a
            symbol, no other code can start with that pattern</p>
            
            <h2>David Huffman</h2>
            
            <p>He created the Huffman tree that assigns the shortest
            variable to the commoner word.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>The LZ77 Compression Family (Ep 2, Compressor Head)</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>This concept is easier to explain through images. The main
            idea is to attempt to find repeated sequences and assign them to a pointer that
            recursively builds the information encoded. </p>
            
            <p>He created the Huffman tree that assigns the shortest
            variable to the commoner word.</p>
            
            <p>LZ Family</p>
            
            <p>LZ77-78</p>
            
            <p><a
            href="https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wusp/fb98aa28-5cd7-407f-8869-a6cef1ff1ccb">https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wusp/fb98aa28-5cd7-407f-8869-a6cef1ff1ccb</a></p>
            
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Jonathan Haidt: Religion, evolution, and the ecstasy of self-transcendence</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>It is significant to be united with others. The more united we are, the more solid we will be.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Autopilot Britain</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Autopilot is a growing problem. It is becoming our default mode of operating, whereby we are sleepy walking into our choices.</p>
        <h2>What is autopilot, and why is it a problem?</h2>
        <p>It is a decision-making system to keep our brains from overloading.</p>
        <h2>What are the cultural conditions that drive autopilot today?</h2>
        <ul>
            <li>We are too busy to notice what decisions we make</li>
            <li>Tech makes us sleepwalk into our choices</li>
            <li>We spend too much time comparing ourselves to ideals we can not live up to</li>
        </ul>
        <h2>Autopilot types</h2>
        <ul>
            <li>The players, those could not say no</li>
            <li>The pacers, the busy ones</li>
            <li>The passengers</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Ideas are just a multiplier of execution</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <img src="assets/Week 1/ideas.png">
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How progress really happens</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>There is no change until someone stakes their reputation on doing something different. You can’t make change without power. So, you have to be conscious about what you want to do.</p>
        <h2>Change</h2>
        <p>We don’t like changes, some reasons are:</p>
        <ul>
            <li>It takes energy</li>
            <li>It generates uncertain situations and risks</li>
        </ul>
        <h2>Tactics you should know</h2>
        <ul>
            <li>Talk about the problem you want to solve</li>
            <li>Get consensus</li>
            <li>Think about how much power you will need to make a change</li>
            <li>Disseminate your idea</li>
            <li>Look for people open to change (unhappier/discomforted ones)</li>
            <li>Start with something small you can build and share to convince (pilot)</li>
            <li>Motivate people</li>
            <li>Cover your people</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How to Master Anything: PEAK by Anders Ericsson | Core Message</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>Mental representations</li>
            <li>Recreate experience</li>
            <li>Make accurate predictions</li>
            <li>Condense information</li>
            <li>Effective practice</li>
            <li>Purposeful practice</li>
            <li>Specific goal</li>
            <li>Intense focus</li>
            <li>Immediate feedback</li>
            <li>Freely make mistakes</li>
            <li>Purpose practice + Mentor</li>
        </ul>
    </mat-expansion-panel>
    
    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Making Badass Developers - Kathy Sierra (Serious Pony)</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Split your skills and master what you need. Practice always. Build a library of small examples.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>The missing semester: Course overview + the shell</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Commands allow you to do several kinds of stuff some of them are not possible through graphical interfaces.</p>
        <ul>
            <li>"echo" with $PATH shows you the path variables, echo is a kind of print. </li>
            <li>Absolute paths are paths that fully determine the location of a file. </li>
            <li>"PWD" prints the current path you are in </li>
            <li>cd changes directory </li>
            <li>cd ~ returns you to the home directory  </li>
            <li>cd - returns you to the previous directory you were </li>
            <li>ls show you the files and directories  </li>
            <li>Command + —help usually gives you help or small documentation about the command. </li>
            <li>mv used to move/change name arguments original path, a new path </li>
            <li>cp copy command </li>
            <li>rm removes files, if you want to remove a directory with files is rm -r, to delete a directory is rmdir. To create a directory use mkdir </li>
            <li>man gives the manual page of any program </li>
            <li>ctr l allows you to clear the console </li>
            <li>command < pathfileInput > pathFileOutput </li>
            <li>command > pathFileOutput </li>
            <li>cat print content of a file </li>
            <li>>> used for append </li>
            <li>| (pipe) takes the output of a program and use it as an argument of the next </li>
            <li>tail -nX prints the nX last inputs </li>
            <li>Example </li>
            <li>ls -l | tail -n2 </li>
            <li>curl --head --silent google.com </li>
            <li>grep -i content-length </li>
            <li>sudo su convert the shell into superuser </li>
            <li>tee writes into a file </li>
            <li>xdg-open fileNamePath opens a file (linux) </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>

    
    

    
    
    
    <h1>Markov Chain Compression (Ep 3, Compressor Head)</h1>
    
    <p><br>
    <br>
    </p>
    
    <p><br>
    <br>
    </p>
    
    <p><a href="https://www.youtube.com/watch?v=i3AkTO9HLXo">https://www.youtube.com/watch?v=i3AkTO9HLXo</a></p>
    
    <p><br>
    <br>
    </p>
    
    <h1>Google I/O 2009 - The Myth of the Genius Programmer</h1>
    
    <p>People are afraid of showing their ignorance.</p>
    
    <p>Bus factor, made your teams avoid concentrate all the
    knowledge and responsibility so if that person disappears all the project ends.</p>
    
    <p>Drop ego </p>
    
    <p>Criticism is not evil if it helps to improve.</p>
    
    <p>Practice is the key to master anything.</p>
    
    <p>Be the small fish try to challenge yourself. If you are
    always choosing easy projects, you won't grow up working on the edge of your
    knowledge.</p>
    
    <p>Be influenced</p>
    
    <p>Be vulnerable</p>
    
    <p>Technology does not solve social issues. Only people
    can deal with emotions and human behavior. It doesn't matter how advanced is
    software or a tool if the people don't want to change, it won't work.</p>
    
    <p>Don't try to be a genius; that is not necessary. Just
    collaborate early and often pay attention to your tools and timing.</p>
    
    <h1>Google I/O 2012 - The Art of Organizational Manipulation</h1>
    
    <p>You need to learn how to navigate in
    teams. Nowadays projects, are designed and built inside them. So learning how
    to work in them is necessary not only for the good of the project but for your
    personal and professional growth.</p>
    
    <p>If you are in charge, you should be a
    servant leader looking for the needings of the team (tools, knowledge, or
    emotional support). If they are well, they work well also.</p>
    
    <p>Additionally, you should pursue
    responsibility and act like an adult.</p>
    
    <h2>Environment </h2>
    
    <p>Some practices and behaviors must be
    avoided:</p>
    
    <p>Being conservative </p>
    
    <p>
    Ignores low performers. They are the ones who need helps. As a
    Muslim saying goes, a caravan is as fast as the slowest of its camels.</p>
    
    <p>The office politician </p>
    
    <p>
    The boss that asks for performance but doesn’t do anything </p>
    
    <p>Unrealistic expectations </p>
    
    <p>Distrust</p>
    
    <h2>How do you get things done in a dysfunctional environment? </h2>
    
    <p>Ask for forgiveness, not for permission</p>
    
    <p>Sneak ideas in </p>
    
    <p>Don’t destroy, change </p>
    
    <p>Try solutions </p>
    
    <p>Work the ladder </p>
    
    <p>Manage upward perception </p>
    
    <p>Use the favor economy </p>
    
    <p>Get in front of the people </p>
    
    <p>Learn how to ask a busy exec for anything
    </p>
    
    <p>Make small emails, and try to be the most
    efficient as you could </p>
    
    <p>Don’t be a victim</p>
    
    <h1>Google I/O 2011: Programming Well with Others: Social Skills for Geeks</h1>
    
    <p>You should to look for autonomy, responsibility and purpose<br>
    <br>
    </p>
    
    <h1>Developing Expertise: Herding Racehorses, Racing Sheep</h1>
    
    <p>Software development has several ranges of experiences since
    neither the people neither the project are the same </p>
    
    <p>It is a journey, so some practices you acquired could change
    through time </p>
    
    <p>Intuition </p>
    
    <p>Be interactive with novice, avoid useless information. For
    example, large spec sheets or information that won't be using at the beginning.</p>
    
    <p>Activities should change between levels. Novices require and
    need rules and short-time tasks. While senior developers could be bothered with
    administrative kinds of stuff, the delegation of responsibilities helps focus
    meanwhile could help beginners to learn the know-how.</p>
    
    <h1>Damien Katz @ DevconTLV: The Best Programming Language</h1>
    
    <p>There is no best programming
    language. </p>
    
    <p>Criteria for choosing a
    programming language: </p>
    
    <p>
    Productivity: You have to identify
    what is the better scenario for a given language. Which variables and functions
    are built in it, and what do you need. </p>
    
    <p>
    Performance: You have to be aware of
    the dimension/size of your project. For example, some functions could afford some
    low performance. However, if the project works well, don’t waste time on those
    tasks. </p>
    
    <p>
    Reliability: You have to select a
    language that affords the SLA.  </p>
    
    <p>
    Portability: It doesn’t matter if it
    is the most powerful language if you can’t use it in your deployment’s
    environment </p>
    
    <p>
    Community:  </p>
    
    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>
    What you already know: There is value
    in learning something new.</p>
    
    <h1>Perfection Is An Unrealistic Goal</h1>
    
    <p>Sometimes the process of a task could
    become extremely long and tedious than the task itself. On most occasions, it
    is better to try an idea and see how it works than prepare extraneous research.
    Remember, you can’t specify something you have no idea about, so trying to
    start from there could be troublesome. </p>
    
    <h2>Some Myths </h2>
    
    <p>We can understand/know something at all.</p>
    
    <p>The things are linear. Nothing in nature
    behaves that way, neither learning, neither mastering, neither nothing.</p>
    
    <h2>Some pieces of advice </h2>
    
    <p>Celebrate your success and repeat </p>
    
    <p>90 minutes is the optimal duration to
    sleep</p>
    
    <h1>The Power of an Agile Mindset</h1>
    
    <p>Kaizen</p>
    
    <p>Am I fixing or improving? </p>
    
    <p>Belief about yourself affects other's believes.</p>
    
    <p>We should always look at our team as a whole. Because
    if we look at each other as unhealthy rivals, we could end up fighting between
    us. </p>
    
    <p>We have to be aware of how we congratulate or correct
    someone. </p>
    
    <p>The words chosen could affect the performance and
    mindset; even if we said with good intentions, it could impact negatively.</p>
    
    <h1>Linda Rising on Collaboration, Bonobos and The Brain</h1>
    
    <p>Most of the decisions making go on unconsciously. It seems,
    even if we start an idea on the logical part, in the end, we choose whatever
    our unconscious choose. However, we could help us by gathering data and
    analyzing them. Because once our logical part starts something, our unconscious
    will take that as a root and evolve the idea until a decision. So, it is a good
    practice to gather and analyze data, alone or in a team. It works since the
    members will work better if they understand the reasons for the actions.</p>
    
    <h1>GOTO 2016 • Who do You Trust? Beware of Your Brain • Linda Rising</h1>
    
    <p>We have to be aware about how our unconscious labelers
    works with us, because even if we can’t get rid of it, we could be conscious
    about it and avoid to be mean with others. </p>
    
    <p>Categories depends on context.</p>
    
    <p>Working together could helps to get closer to others.</p>
    
    <p>Everything is a Remix Remastered (2015 HD)<br>
    <br>
    </p>
    
    <p>Creation requires influence</p>
    
    <p>Copy is a way of learn</p>
    
    <h1>Lecture 2: Shell Tools and Scripting (2020)</h1>
    