<h1></h1>
<p>This week I put special attention to pretotyping and testing. I learned some aspects of testing, as some tools that could be used and good practices. </p>
<p>Now, talking about pretotyping, it is a convenient tool to know if an idea is worth it or not.</p>
<P>On the other hand, I watched some inspiring videos related to Richard Feynman. It is incredible, how with just mathematics and a brilliant mind, someone could imagine solutions, which will be taken on decades after.</P>
<h1></h1>
<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> The Pretotyping Manifesto - Stanford Graduate School of Business </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>The
law of failure: Most of new ideas fails</P>
<P>Make
sure you are building the right it before built it right</P>
<P>IT:
innovate technology, idea to try</P>
<P>The
pretotyping manifesto:</P>
<UL>
	<LI><P>Innovators
	beat ideas</P>
	<LI><P>Pretotypes
	beats productypes</P>
	<LI><P>Doing
	beats talking</P>
	<LI><P>Simple
	beats complex</P>
	<LI><P>Nows
	beats later</P>
	<LI><P>Commitment
	beats committees</P>
	<LI><P>Data
	beats opinions</P>
</UL>
<div class='images'><img src='assets/Week 5/1.png'></div><div class='images'><img src='assets/Week 5/2.png'></div><div class='images'><img src='assets/Week 5/3.png'></div><div class='images'><img src='assets/Week 5/4.png'></div>
</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Seth Lloyd on Programming the Universe </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Changing
by mutation s</P>
<P>Quantity
of information is different than meaning of information</P>
<P>History
about information</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Why you should have your own black box | Matthew Syed | TEDxLondonBusinessSchool </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Aviations
vs Healthcare</P>
<P>Learning
vs Justification</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Kolton Andrus on Breaking Things at Netflix </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Every
system will fail on some point, the thing is how it will afford that
failure, what could happen</P>
<P>AMAZING</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Chaos Engineering: the history, principles, and practice </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Chaos
Engineering is a disciplined approach to identifying failures before
they become outages. By proactively testing how a system responds
under stress, you can identify and fix failures before they end up in
the news. That helps you to build more resilient systems</P>
<P><B>What
are the Principles of Chaos Engineering?</B></P>
<div class='images'><img src='assets/Week 5/5.png'></div><P><B>Why
would you break things on purpose?</B></P>
<P>Chaos
Engineering is a tool we use to build such an immunity in our
technical systems by injecting harm (like latency, CPU failure, or
network black holes) in order to find and mitigate potential
weaknesses.</P>
<P>By
breaking things on purpose we surface unknown issues that could
impact our systems and customers.</P>
<P><B>Fallacies
of Distributed Systems:</B></P>
<UL>
	<LI><P>The
	network is reliable</P>
	<LI><P>Latency
	is zero</P>
	<LI><P>Bandwidth
	is infinite</P>
	<LI><P>The
	network is secure</P>
	<LI><P>Topology
	doesn't change</P>
	<LI><P>There
	is one administrator</P>
	<LI><P>Transport
	cost is zero</P>
	<LI><P>The
	network is homogeneous</P>
</UL>
<P><B>What
are the customer, business, and technical benefits of Chaos
Engineering?</B></P>
<UL>
	<LI><P>Customer:
	No outages disrupt their day-to-day lives.</P>
	<LI><P>Business:</P>
	<UL>
		<LI><P>Prevent
		extremely large losses in revenue and maintenance costs</P>
		<LI><P>Create
		happier and more engaged engineers</P>
		<LI><P>Improve
		in on-call training for engineering teams</P>
		<LI><P>Improve
		the incident management program</P>
	</UL>
	<LI><P>Technical:
	</P>
	<UL>
		<LI><P>Reduction
		in incidents</P>
		<LI><P>Reduction
		in on-call burden</P>
		<LI><P>Increased
		understanding of system failure modes</P>
		<LI><P>Improved
		system design</P>
		<LI><P>Faster
		mean time to detection for SEVs, and reduction in repeated SEVs.</P>
	</UL>
</UL>
<P><B>Which
Chaos Engineering experiments do you perform first?</B></P>
<div class='images'><img src='assets/Week 5/6.png'></div><P>Order</P>
<OL>
	<LI><P>Known
	knowns</P>
	<LI><P>Known
	unknowns</P>
	<LI><P>Unknown
	knowns</P>
	<LI><P>Unknown
	unknowns</P>
</OL>
<P><B>Planning
your First Experiment</B></P>
<P>Which
scenarios are more likely (or more frightening) and should be tested
first. 
</P>
<P><B>Creating
a Hypothesis</B></P>
<P>What
will be the impact to customers, to your service, or to your
dependencies?</P>
<P><B>Measuring
the Impact</B></P>
<P>It
is good to have a key performance metric that correlates to customer
success (such as orders per minute). 
</P>
<P>As
a rule of thumb, if you ever see an impact to these metrics, you want
to halt the experiment immediately. 
</P>
<P>Next
is measuring the failure itself where you want to verify (or
disprove) your hypothesis. 
</P>
<UL>
	<LI><P>This
	could be the impact on latency, requests per second, or system
	resources. 
	</P>
	<LI><P>Lastly,
	you want to survey your dashboards and alarms for unintended side
	effects.</P>
</UL>
<P><B>Have
a Rollback Plan</B></P>
<P>All
of our attack's must can be reverted immediately, allowing you to
safely abort and return to steady state if things go wrong.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Testing Engineering@Google The Release Process for Google's Chrome for iOS </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P><B>Software
engineer in test</B></P>
<P>Focused
on testability- refactor code to make it easier to for test authoring</P>
<P>Focused
on development and release efficiency</P>
<P>Developer
oriented</P>
<P>Develop
build, release, and test automation framework</P>
<P><B>Test
engineer</B></P>
<P>Focused
on largely on functional testing and scenario testing</P>
<P>Product
and user focused</P>
<P>Tend
to be product and/pr domain experts</P>
<P>Read
and debug product code and write test code</P>
<P>Test
planning, strategy, risk, and test design is key</P>
<P>They
use bots for automated testing they have:</P>
<UL>
	<LI><P>Unittests</P>
	<LI><P>End
	to end tests with KIF</P>
	<LI><P>Performance
	tests</P>
	<LI><P>Screenshot
	tests</P>
</UL>
<P>Manual
testing have</P>
<UL>
	<LI><P>Test
	cases that can’t be automated</P>
	<LI><P>Test
	coverage regardless of test status being flakey</P>
	<LI><P>Test
	cases that haven’t been automated yet</P>
	<LI><P>New
	features that don’t have end to end tests yet</P>
</UL>
<P> Say
what you changed</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Richard Feynman, The Great Explainer: Great Minds </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>AMAZING</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> GTAC 2014: Test coverage at Google </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P><B>Code
review</B></P>
<UL>
	<LI><P>Before
	check in</P>
	<LI><P>Web
	based</P>
	<UL>
		<LI><P>Streamlined</P>
	</UL>
	<LI><P>Small,
	incremental changes</P>
	<UL>
		<LI><P>Efficient</P>
	</UL>
	<LI><P>Mandatory</P>
	<UL>
		<LI><P>Enforced
		by tools</P>
		<LI><P>Automated
		analysis</P>
		<UL>
			<LI><P>Fully
			automated</P>
			<LI><P>Style
			guide compliance?</P>
			<LI><P>Do
			the tests pass?</P>
			<LI><P>Fast</P>
			<LI><P>Test
			coverage?</P>
		</UL>
	</UL>
</UL>
<P>Code
review - Human touch</P>
<UL>
	<LI><P>2
	seal of approval</P>
	<LI><P>Owner
	of the code you are changing</P>
	<LI><P>Readability</P>
	<UL>
		<LI><P>Certifies
		language style knowledge</P>
	</UL>
	<LI><P>Reviewers
	see the results of automatic analysis too</P>
</UL>
<P>Test
coverage</P>
<UL>
	<LI><P>Measure
	used to describe how much the test excessive the code</P>
	<LI><P>Types:</P>
	<UL>
		<LI><P>Function</P>
		<LI><P>Statement</P>
		<LI><P>Branch</P>
		<LI><P>Other</P>
	</UL>
</UL>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> TEDxCaltech - Danny Hillis - Reminiscing about Richard Feynman </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Inspiring</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Feynman on Scientific Method. </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <OL>
	<LI><P>We
	guessed</P>
	<LI><P>Compute
	the consequences of the guess</P>
	<LI><P>Compare
	the computation result to nature</P>
</OL>
<P>We
can only be sure we are wrong</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> TEDxCaltech - Tony Hey - Feynman and Computation </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Pipelining</P>
<P>Feynman
diagram</P>
<P>Quantum
computer</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> GTAC 2014: I Don't Test Often ... But When I Do, I Test in Production </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Freedom and
responsibility</P>
<UL>
	<LI><P>Developers
	deploy when they want</P>
	<LI><P>They also
	manage their own capacity and autoscaling</P>
	<LI><P>And are
	on-call to fix anything that breaks at 3am (disponible)</P>
</UL>
<P>Failure is all
around us</P>
<P>Design to avoid
failure</P>
<UL>
	<LI><P>Exception
	handling</P>
	<LI><P>Redundancy</P>
	<LI><P>Fallback or
	degraded experience (circuit breakers)</P>
</UL>
<P>Testing</P>
<UL>
	<LI><P>Unit</P>
	<LI><P>Integration</P>
	<LI><P>Stress</P>
	<LI><P>Exhaustive
	testing to simulate all failures modes</P>
	<LI><P>Cause
	failure deliberately to validate resiliency</P>
	<LI><P>Test design
	assumption by stressing them</P>
	<LI><P>Don't wait for random failure. Remove its uncertainty by forcing it regularly</P>
</UL>
<P>Canary
deployment</P>
<UL>
	<LI><P>Push
	change to small number of instances</P>
	<LI><P>Use
	Asgard for red/black push</P>
	<LI><P>Monitor
	closely to detect regressions</P>
	<LI><P>Automated
	canary analysis</P>
	<LI><P>Automatically
	cancel deployment if problems occur</P>
</UL>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> GTAC 2014: The Testing User Experience </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Testing
is a problem when you have very large projects, architecture</P>
<div class='images'><img src='assets/Week 5/7.png'></div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Pretotyping excersice </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <H2>Introduction 
</H2>
<P>In
this report, we present three ideas that were tested by using the
Pretotyping technique. Pretotyping is about trying a lot of ideas,
translated into fast failures, increasing probabilities to find a
successful idea. In this case, we began by discussing different ideas
as a group and we filtered them through the question: “Would we use
it?”. 
</P>
<P>Finally,
when we answered yes to the three ideas we moved one to the next
stage, working the pretotyping. In the next sections, you will be
able to see our hypothesis and next if they were correct or not. 
</P>
<P>Once
the ideas were decided, the next thing to do was finding our
pretotyping, in our case we decided it was a good idea to create fake
ads about the ideas and gather data about how many people would
actually voluntarily click on the ad. 
</P>
<P>Here
are the ads we used: 
</P>
<H3>Courselet</H3>
<P>Click
here if you would like to track the price and get recommendations of
courses on any platform (e. g. Coursera, edx, udemy, udacity…) in a
single place without having to visit other platforms separately and
be aware of the discounts in your courses.</P>
<H3>Gastracker - Gas price tracker</H3>
<P>Are
you interested to know which fuel station in your city has the better
prices so you can save some money?</P>
<P>Click
here if you’d like to know the prices of your local fuel stations
in real-time.</P>
<H3>Knowsher - Knowledge sharer</H3>
<P>Would
you like to use an app in which you can search for abilities that you
want to learn in exchange for teaching something else? You don’t
need to pay to learn, just to teach something else in return. In case
you want it you can also pay a fee so you get access to it without
having to teach something back.</P>
<H2>IDEA 1: Track and recommend
course prices Courselet</H2>
<P><B>Description</B><BR><B>
</B>Track
the price and receive recommendations of courses in any platform
(Coursera, edX, Udacity, Udemy...) everything in just one place
without needing to visit each platform independently, follow
discounts, and more on.</P>
<P><B>Hypothesis</B>
 <BR>Self-paced
online learning and education have become popular in the last couple
of years, and with the current problems due to the pandemic, people
are interested in finding the best cost-benefit courses of all
platforms in one single place. Everything from the comfort of their
home. 
</P>
<P><B>Experiment
description </B><BR>
	To
find out what people think about this idea we put to the test fake
ads through bitly URLs with a specific description of the service.
This way we had the opportunity to discover if people would click on
the link to find out more about the service. This is how we would
have a first approximation about how feasible was our idea.
</P>
<P>We
share this link with a specific group of people so we can know how
many people of the total number of integrants of the group click on
the fake ad. 
</P>
<P><B>Validation</B>
<BR>We
selected a group of people where we thought would be interested in
the ideas. We share the link just as if it was a normal ad. 73% of
the total number of people click on the link we share. 
</P>
<P>We
can determine that people are interested in finding the best
cost-benefit courses of all platforms in one single place. We cannot
say that people are going to consume the product yet, but at least we
can say they have an interest in it. 
</P>
<P><B>Results</B>
<BR>From
the data, we can determine that in fact, people are interested in
finding their online courses in just one place and track prices to
get discounts. Nevertheless, we aren’t sure yet that people would
consistently consume our product. That’s why we should proceed with
a new approach to gather more data, we could for example create a
very simple prototype and see if we would use it. Then maybe another
form could be to select a new and bigger group of people and allow
them to test a version of the service. 
</P>
<H2>IDEA 2: Gas price tracker app</H2>
<P><B>Description</B><BR><B>
</B>This
app will track the prices of different gas stations in the city, then
give you the best recommendation according to the distance and price.
This app will help you save money the next time that you put gas in
your car.  
</P>
<P><B>Hypothesis</B><BR><B>
</B>The
prices of the gas differ from each gas station. Searching for the
best price of the gas is nowadays an interest for the people. 
</P>
<P><B>Experiment description</B></P>
<p>We
	shared a bitly link to find out if the idea was interesting and
	useful for the people. If the persons take their time to click on the
	link, we could know that they are interested in acquiring the
	service. This was our idea to test and confirm if our idea has true
	potential for the current market. </p>
<P>The
link with a brief description of the service was shared with a
specific group of young people, so we could know what percentage of
the people were interested in clicking on it. 
</P>
<P><B>Validation</B><BR><B>
</B>We
select a group of target people who could be interested in our app
related to the prices of the gas stations. 73% of persons of the
groups showed interest in the application, clicking on the link.  
</P>
<P>According
to this result, we can determine that people are interested in
getting lower gas prices. We don’t know the true potential of our
product, but at least the premise is enough to get the genuine
interest of the people. 
</P>
<P><B>Results</B><BR><B>
</B>With
this data, we know that the idea is strong enough to keep going. The
next step is to prove which is the right interface and user
experience to keep the attention of the people. Creating a low budget
prototype and doing the same type of experiment will help us to get
the right approach of the product. 
</P>
<H2>IDEA 3: Knowledge exchange app</H2>
<P><B>Hypothesis</B></P>
<P>Learning
	is something that all people constantly seek. To be better people and
	better professionals, we must be constantly learning. To get a better
	job we must learn new things.
</P>
<P>During
the Covid-19 pandemic, many people have been affected. Many have lost
their jobs, and for those who did not have it, it has been much more
difficult to find one.</P>
<P>
</P>
<P>The
best way to keep a job, get one, or even get a better one is to
constantly gain knowledge. Learning is the only thing that can assure
us that at some point we can succeed.</P>
<P>
</P>
<P>The
problem is that acquiring knowledge is not usually something
accessible to all people, much less during a global crisis such as
that caused by Covid-19. That is why many people during this crisis,
even when they were willing to dedicate time to learn, could not do
so because they did not have the way to access quality education.</P>
<P>
</P>
<P>But
it is also true that all people have something they can teach. All
people have knowledge that they can share. That is why an application
that allows the exchange of knowledge could be very helpful for those
people who want to learn something new and do not have the resources
to do so.</P>
<P>
</P>
<P>The
most important resources we have are our time and our knowledge, that
is why we can share them with someone else, and in exchange for that
other people will be able to share their knowledge and time with us.</P>
<P><B>Experiment
Description</B><BR><B>
</B>To
test whether people were interested in using an application in which
they could exchange knowledge, we decided to share a link with the
following description in several groups:</P>
<P>&quot;Would
you like to be able to use an app in which you can look for skills
that you want to learn in exchange for you teaching others? You do
not need to pay to learn just to teach something to others in return.
If you want, you can pay to have access without needing to teach
anything&quot;.</P>
<P>We
think that if a person clicked on the link after reading the
description, they did so because they were interested in using the
application or at least knowing a little more about it.</P>
<P><B>Validation</B><BR><B>
</B>As
with the rest of our experiments we sent a link to some groups with
the premise of having access to the app, as what would be an example
of it. The link we used was a tool that let us verify how many people
clicked on it after some time. In this case, we were able to verify
in a matter of hours the interest people had in our app. While our
validation of the data can’t tell how it would perform in a bigger
population, it gives us fast and reliable information and feedback
whether people are interested in the product as to click right away
in hopes of finding the mentioned app, and this simple and fast
process complies with the mindset of pretotyping, getting fast and
concise feedback about your product.</P>
<P><B>Results</B><BR><B>
</B>In
this case, we verified that at least 73% of the people we worked with
for this study were interested in the idea of the knowledge exchange
app since that is the percentage that clicked on the link. Of course,
we could complement this information or increase the resources used
to verify how the app could be tested in a more public way, though in
this case there were some barriers as the pandemic which
unfortunately stops us from being able to do an in-person study.
Still, certain tests could be applied to see how people interacted
with the app, but of course, there would need to be an implementation
of it already and in this case, we just wanted to see how interesting
it would be for a certain public, so we could fail or succeed
quickly, to move onto the next step.</P>
<P><BR><BR>
</P>
</mat-expansion-panel>