<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        Summary
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>
<p>I enjoyed this stage. I have been solving some HackerRank problems using Java and Python. I also studied several concepts related to:</p>
<ul>
    <li>Data structures</li>
    <li>Trees</li>
    <li>Graphs</li>
    <li>Object-oriented programming</li>
    <li>Solid principles</li>
</ul>
<p>Also, I learned that Java uses Unicode 16 to manipulate strings that are considered immutable objects. It is relevant if you are going to develop any program that processes emojis.</p>
<p>Another Java characteristic injected from the 1.8 version is the functional paradigm. It was implemented through the Stream framework, which allows you to create a "stream." It is manipulated through several intermediate functions until a final one. The thing that made it functional is that you are not modifying the source but creating new streams from the original. Additionally, this library allows you to take advantage of parallel processing.</p>
<p>In Java, you can pass functions as arguments only through interfaces. There even exists some functions whose only purpose is to work as a function argument. They usually are called functional interfaces.
    Additionally, I learned soft skills related to how to handle interviews. 
    One phrase that I'll remember from this month is: "What do I want and when?"</p>
    