<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        Make it Stick
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        Summary By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>
<p>I strongly recommend taking the Coursera course Learning How to Learn. This book explains a lot of things covered in that course. However, I found Coursera more explicit. Nevertheless, it helps to reinforce. 
    Here, the authors explain why it is important to practice often and conscious while learning something. Additionally, they give you some tricks that could help you to take advantage of your brain behavior.</p>
<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 1. Learning Is Misunderstood </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Learning:
Acquiring knowledge and skills and having them readily available from
memory so you can make sense of future problems and opportunities.</P>
<P>Useful,
learning requires memory, so what we’ve learned is still there
later when we need it.</P>
<P>We
need to keep learning and remembering all our lives.</P>
<P>Learning
is deeper and more durable when it’s effortful.</P>
<P>Learning
that’s easy is like writing in sand, here today and gone tomorrow.</P>
<P>Retrieval
practice— recalling facts or concepts or events from memory— is a
more effective learning strategy than review by rereading. 
</P>
<P>While
the brain is not a muscle that gets stronger with exercise, the
neural pathways that make up a body of learning do get stronger, when
the memory is retrieved and the learning is practiced.</P>
<P>In
virtually all areas of learning, you build better mastery when you
use testing as a tool to identify and bring up your areas of
weakness. All new learning requires a foundation of prior knowledge.</P>
<P>Elaboration
is the process of giving new material meaning by expressing it in
your own words and connecting it with what you already know.</P>
<P>Putting
new knowledge into a larger context helps learning. 
</P>
<P>People
who learn to extract the key ideas from new material and organize
them into a mental model and connect that model to prior knowledge
show an advantage in learning complex mastery. 
</P>
<P>A
mental model is a mental representation of some external reality.</P>
<P>But
every time you learn something new, you change the brain— the
residue of your experiences is stored. 
</P>
<P>Rereading
has three strikes against it. It is time consuming. It doesn’t
result in durable memory. And it often involves a kind of unwitting
self- deception, as growing familiarity with the text comes to feel
like mastery of the content. 
</P>
<P>Learning
is stronger when it matters, when the abstract is made concrete and
personal.</P>
<P>“The
key to learning something well is repetition; the more times you go
over the material the better chance you have of storing it
permanently.” This tactic might work when looking up a phone number
and holding it in your mind while punching it into your phone, but it
doesn’t work for durable learning.</P>
<P>Recall.
Mere repetition did not enhance learning. Subsequent, it makes sense
to reread a text once if there’s been a meaningful lapse of time
since the first reading, but doing multiple readings in close
succession is a time- consuming study strategy that yields negligible
benefits at the expense of much more effective strategies that take
less time.</P>
<P>However,
repeated reading provides the illusion of mastery of the underlying
ideas. Don’t be fooled. The fact that you can repeat the phrases in
a text or your lecture notes is no indication that you understand the
significance of the precepts they describe, their application, or how
they relate to what you already know about the subject.</P>
<P>Mastery
requires both the possession of ready knowledge and the conceptual
understanding of how to use it.</P>
<P>The
act of retrieving learning from memory has two profound benefits.
One, it tells you what you know and don’t know, and therefore where
to focus further study to improve the areas where you’re weak. Two,
recalling what you have learned causes your brain to reconsolidate
the memory, which strengthens its connections to what you already
know and makes it easier for you to recall in the future. In effect,
retrieval— testing—interrupts forgetting. Consider</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 2. To Learn, Retrieve </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Reflection
is a form of practice</P>
<P>Then
there comes a time when you get into a tight situation and it’s no
longer a matter of thinking through the steps, it’s a matter of
reflexively taking the correct action. 
</P>
<P>The
power of retrieval as a learning tool is known among psychologists as
the testing effect. In memory, Aristotle wrote: “exercise in
repeatedly recalling a thing strengthens the memory.” 
</P>
<P>To
be most effective, retrieval must be repeated again and again, in
spaced out sessions so that the recall, rather than becoming a
mindless recitation, requires some cognitive effort. 
</P>
<P>Repeated
recall appears to help memory consolidate into a cohesive
representation in the brain and to strengthen and multiply the neural
routes by which the knowledge can later be retrieved. In repeated
retrieval can so embed knowledge and skills that they become
reflexive: the brain acts before the mind has time to decide</P>
<P>Researchers
found that massed studying (cramming) leads to higher scores on an
immediate test but results in faster forgetting compared to
practicing retrieval. 
</P>
<P>Thus,
and in agreement with later research, multiple sessions of retrieval
practice are generally better than one, especially if the test
sessions are spaced out.</P>
<P>When
retrieval practice is spaced, allowing some forgetting to occur
between tests, it leads to stronger long-term retention than when it
is massed.</P>
<P>The
simple act of exposing them to the material in the quizzes was
responsible for the superior learning, not the retrieval practice. 
</P>
<P>Studies
show that giving feedback strengthens retention more than testing
alone does, and, interestingly, some evidence shows that delaying the
feedback briefly produces better long-term learning than immediate
feedback. 
</P>
<P>In
motor learning, trial and error with delayed feedback is a more
awkward but effective way of acquiring a skill than trial and
correction through immediate feedback; the learner quickly comes to
depend on the continued presence of the correction.</P>
<P>Even
a single test in a class can produce a large</P>
<P>Improvement
in final exam scores, and gains in learning continue to increase as
the number of tests increases.14 Whichever theories science
eventually tells us are correct about how repeated retrieval
strengthens memory, empirical research shows us that the testing
effect is real— that the act of retrieving a memory changes the
memory, making it easier to retrieve again later.</P>
<P>Is
repeated testing simply a way to expedite rote learning? In fact,
research indicates that testing, compared to rereading, can
facilitate better transfer of knowledge to new contexts and problems,
and that it improves one’s ability to retain and retrieve material
that is related but not tested. Further research is needed on this
point, but it seems that retrieval practice can make information more
accessible when it is needed in various contexts.</P>
<P>After
a test, students spend more time restudying the material they missed,
and they learn more from it than do their peers who restudy the
material without having been tested. Students whose study strategies
emphasize rereading but not self-testing show over-confidence in
their mastery. Students who have been quizzed have a double advantage
over those who have not: a more accurate sense of what they know and
don’t know, and the strengthening of learning that accrues from
retrieval practice.</P>
<P>Frequent
low- stakes testing helps dial down test anxiety among students by
diversifying the consequences over a much larger sample.</P>
<P>Practice
at retrieving new knowledge or skill from memory is a potent tool for
learning and durable retention. This is true for anything the brain
is asked to remember and call up again in the future— facts,
complex concepts, problem-solving techniques, motor skills.</P>
<P>Effortful
retrieval makes for stronger learning and retention. 
</P>
<P>When
the mind has to work, learning sticks better. The greater the effort
to retrieve learning, provided that you succeed, the more that
learning is strengthened by retrieval. 
</P>
<P>Repeated
retrieval not only makes memories more durable but produces knowledge
that can be retrieved more readily, in more varied settings, and
applied to a wider variety of problems.</P>
<P>While
cramming can produce better scores on an immediate exam, the
advantage quickly fades because there is much greater forgetting
after rereading than after retrieval practice.</P>
<P>Simply
including one test (retrieval practice) in a class yields a large
improvement in fi nal exam scores, and gains continue to increase as
the frequency of classroom testing increases.</P>
<P>Self-testing
may be unappealing because it takes more effort than rereading, but
as noted already, the greater the effort at retrieval, the more will
be retained.</P>
<P>Giving
students corrective feedback after tests keeps them from incorrectly
retaining material they have misunderstood and produces better
learning of the correct answers.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 3. Mix Up Your Practice </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>
Durable
learning, however, requires time for mental rehearsal and the other
processes of consolidation.</P>
<P>The
increased effort required to retrieve the learning after a little
forgetting has the effect of retriggering consolidation, further
strengthening memory. We explore distances— improves your ability
to transfer learning from one situation and apply it successfully to
another. You develop a broader understanding of the relationships
between different conditions and the movements required to succeed in
them; you discern context better and develop a more flexible
“movement vocabulary”— different movements for different
situations.</P>
<P>Compared
to massed practice, a significant advantage of interleaving and
variation is that they help us learn better how to assess context and
discriminate between problems, selecting and applying the correct
solution from a range of possibilities.</P>
<P>Several
studies have demonstrated the improved powers of discrimination to be
gained through interleaved and varied practice.</P>
<P>To
paraphrase a conclusion from one of these studies, recall and
recognition require “factual knowledge,” considered to be a lower
level of learning than “conceptual knowledge.”</P>
<P>Conceptual
knowledge requires an understanding of the interrelationships of the
basic elements within a larger structure that enable them to function
together. Conceptual knowledge is required for classification. 
</P>
<P>It’s
not just what you know, but how you practice what you know that
determines how well the learning serves you later. 
</P>
<P>The
simple act of spacing out study and practice in installments and
allowing time to elapse between them makes both the learning and the
memory stronger, in effect building habit strength.</P>
<P>Beware
of the familiarity trap: the feeling that you know something and no
longer need to practice it.</P>
<P>“Making
the brain work is actually what seems to make a difference—
bringing in more complex networks, then using those circuits
repeatedly, which makes them more robust.”</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 4. Embrace Difficulties </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Demonstrate
mastery. Testing is not only a powerful learning strategy; it is a
potent reality check on the accuracy of your own judgment of what you
know how to do. When confidence is based on repeated performance,
demonstrated through testing that simulates real-world conditions,
you can lean into it. 
</P>
<H2>How Learning Occurs</H2>
<P>Encoding</P>
<P>The
brain converts your perceptions into chemical and electrical changes
that form a mental representation of the patterns you’ve observed.
This process of converting sensory perceptions into meaningful
representations in the brain is still not perfectly understood. We
call the process encoding, and we call the new representations within
the brain memory traces. 
</P>
<P>Consolidation</P>
<P>The
process of strengthening these mental representations for long-term
memory is called consolidation. New learning is labile: its meaning
is not fully formed and therefore is easily altered. In
consolidation, the brain reorganizes and stabilizes the memory
traces. This may occur over several hours or longer and involves deep
processing of the new material, during which scientists believe that
the brain replays or rehearses the learning, giving it meaning,
filling in blank spots, and making connections to past experiences
and to other knowledge already stored in long-term memory. Prior
knowledge is a prerequisite for making sense of new learning, and
forming those connections is an important task of consolidation. As
we’ve noted, sleep seems to help memory consolidation, but in any
case, consolidation and transition of learning to long- term storage
occurs over a period of time.</P>
<P>Retrieval
Learning</P>
<P>Remembering,
and forgetting work together in interesting ways. Durable, robust
learning requires that we do two things. First, as we recode and
consolidate new material from short-term memory into long-term
memory, we must anchor it there securely. Second, we must associate
the material with a diverse set of cues that will make us adept at
recalling the knowledge later. Having effective retrieval cues is an
aspect of learning that often goes overlooked. The task is more than
committing knowledge to memory. Being able to retrieve it when we
need it is just as important.</P>
<P>Knowledge,
skills, and experiences that are vivid and hold significance, and
those that are periodically practiced, stay with us. If mind. Context
can unleash memories, as when the right key works to open an old
lock. In other words, the more you’ve forgotten about a topic, the
more effective relearning will be in shaping your permanent
knowledge.9</P>
<P>Reconsolidating
</P>
<P>Memory
Effortful recall of learning, as happens in spaced practice, requires
that you “reload” or reconstruct the components of the skill or
material anew from long-term memory rather than mindlessly repeating
them from short-term memory.10 During this focused, effortful recall,
the learning is made pliable again: the most salient aspects of it
become clearer, and the consequent reconsolidation helps to reinforce
meaning, strengthen connections to prior knowledge, bolster the cues
and retrieval routes for recalling it later, and weaken competing
routes.</P>
<P>Spaced
practice</P>
<P>Allows
some forgetting to occur between sessions, strengthens both the
learning and the cues and routes for fast retrieval when that
learning is needed again, as when the pitcher tries to surprise the
batter with a curveball after pitching several fastballs. It is
required to recall a memory or to execute a skill, provided that the
effort succeeds, the more the act of recalling or executing benefits
the learning.</P>
<P>Creating
Mental Models 
</P>
<P>With
enough effortful practice, a complex set of interrelated ideas or a
sequence of motor skills fuse into a meaningful whole, forming a
mental model somewhat akin to a “brain app”. 
</P>
<P>Mental
models 
</P>
<P>Are
forms of deeply entrenched and highly efficient skills (seeing and
un-loading on a curveball) or knowledge structures (a memorized
sequence of chess moves) that, like habits, can be adapted and
applied in varied circumstances.</P>
<P>Broadening
Mastery Retrieval practice that you perform at different times and in
different contexts and that interleaves different learning material
has the benefit of linking new associations to the material. This
process builds interconnected networks of knowledge that bolster and
support mastery of your fi eld. It also multiplies the cues for
retrieving the knowledge, increasing the versatility with which you
can later apply it.</P>
<P>Fostering
Conceptual Learning</P>
<P>It’s
thought that this heightened sensitivity to similarities and
differences during interleaved practice leads to the encoding of more
complex and nuanced representations of the study material— a better
understanding of how specimens or types of problems are distinctive
and why they call for a different interpretation or solution.</P>
<P>Improving
Versatility call transfer of learning, which is the ability to apply
what you’ve learned in new settings.</P>
<P>Priming
the Mind for Learning 
</P>
<P>When
you’re asked to struggle with solving a problem before being shown
how to solve it, the subsequent solution is better learned and more
durably remembered.</P>
<P>Other
Learning Strategies 
</P>
<P>Incorporates
desirable difficulties we usually think of interference as a
detriment to learning, but certain kinds of interference can produce
learning benefits, and the positive effects are sometimes surprising.</P>
<P>The
act of trying to answer a question or attempting to solve a problem
rather than being presented with the information or the solution is
known as generation.</P>
<P>In
testing, being required to supply an answer rather than select from
multiple choice options often provides stronger learning benefits.
Having</P>
<P>The
act of taking a few minutes to review what has been learned from an
experience</P>
<P>and
asking yourself questions is known as reflection.</P>
<P>Reflection
can involve several cognitive activities we have discussed that lead
to stronger learning. These include retrieval (recalling recently
learned knowledge to mind), elaboration (for example, connecting new
knowledge to what you already know), and generation (for example,
rephrasing key ideas in your own words or visualizing and mentally
rehearsing what you might do differently next time).</P>
<P>One
form of reflection that is gaining currency in classroom settings is
called “write to learn.”</P>
<P>Even
strategies that are highly likely to result in errors, like asking
someone to try to solve a problem before being shown how to do it,
produce stronger learning and retention of the correct information
than more passive learning strategies, provided there is corrective
feedback. Moreover, people who are taught that learning is a struggle
that often involves making errors will go on to exhibit a greater
propensity to tackle tough challenges and will tend to see mistakes
not as failures but as lessons and turning points along the path to
mastery.</P>
<P>A
fear of failure can poison learning by creating aversions to the
kinds of experimentation and risk taking that characterize striving,
or by diminishing performance under pressure, as in a test setting.</P>
<P>It
seems that a significant portion of their working memory capacity is
expended to monitor their performance leaving less working memory
capacity available to solve the problems posed by the test. “Working
memory” refers to the amount of information you can hold in mind
while working through a problem, especially in the face of
distraction. Everyone’s working memory is severely limited, some
more than others, and larger working memory capacities correlate with
higher IQs.</P>
<P>Not
all difficulties in learning are desirable ones. Anxiety while taking
a test seems to represent an undesirable difficulty. 
</P>
<P>To
be desirable, a difficulty must be something learners can overcome
through increased effort.</P>
<P>Learning
is at least a three-step process: initial encoding of information is
held in short-term working memory before being consolidated into a
cohesive representation of knowledge in long-term memory.
Consolidation reorganizes and stabilizes memory traces, gives them
meaning, and makes connections to past experiences and to other
knowledge already stored in long-term memory. Retrieval updates
learning and enables you to apply it when you need it.</P>
<P>Learning
always builds on a store of prior knowledge. We interpret and
remember events by building connections to what we already know.</P>
<P>Long-term
memory capacity is virtually limitless: the more you know, the more
possible connections you have for adding new knowledge.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 5. Avoid Illusions of Knowing </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Monitoring
your own thinking is what psychologists call metacognition</P>
<P>
Learning
to be accurate self-observers helps us to stay out of blind alleys,
make good decisions, and reflect on how we might do better next time.
An important part of this skill is being sensitive to the ways we can
delude ourselves. One problem with poor judgment is that we usually
don’t know when we’ve got it.</P>
<P>The
truth is that we’re all hardwired to make errors in judgment. Good
judgment is a skill one must acquire, becoming an astute observer of
one’s own thinking and performance. We start at a disadvantage for
several reasons. One is that when we’re incompetent, we tend to
overestimate our competence and see little reason to change. Another
is that, as humans, we are readily misled by illusions, cognitive
biases, and the stories we construct to explain the world around us
and our place within it. To become more competent, or even expert, we
must learn to recognize competence when we see it in others, become
more accurate judges of what we ourselves know and don’t know,
adopt learning strategies that get results, and find objective ways
to track our progress.</P>
<H2>Two Systems of Knowing</H2>
<P>System
1 (or the automatic system) is unconscious, intuitive, and immediate.
It draws on our senses and memories to size up a situation in the
blink of an eye. It’s the running back dodging tackles in his dash
for the end zone. 
</P>
<P>System
2 (the controlled system) is our slower process of conscious analysis
and reasoning. It’s the part of thinking that considers choices,
makes decisions, and exerts self-control.</P>
<P>We
also use it to train System 1 to recognize and respond to par tic u
lar situations that demand reflexive action. The</P>
<P>System
1 is automatic and deeply influential, but it is susceptible to
illusion, and you depend on System 2 to help you manage yourself: by
checking your impulses, planning ahead, identifying choices, thinking
through their implications, and staying in charge of your actions.
When System 1 is powerful because it draws on our accumulated years
of experience and our deep emotions. System 1 gives us the survival
reflex in moments of danger, and the astonishing deftness earned
through thousands of hours of deliberate practice in a chosen fi eld
of expertise. In the interplay between Systems 1 and 2— your
instantaneous ability to size up a situation plays against your
capacity for skepticism and thoughtful analysis. Of Learning when to
trust your intuition and when to question it is a big part of how you
improve your competence in the world at large and in any fi eld where
you want to be expert.</P>
<P>There
are many ways that our System 1 and System 2 judgments can be led
astray: perceptual illusions faulty narrative, distortions of memory,
failure to recognize when a new kind of problem requires a new kind
of solution, and a variety of cognitive biases to which we’re
prone.</P>
<P>Our
understanding of the world is shaped by a hunger for narrative that
rises out of our discomfort with ambiguity and arbitrary events. When
surprising things happen, we search for an explanation. The urge to
resolve ambiguity can be surprisingly potent, even when the subject
is inconsequential. In</P>
<P>We
strive to fi t the events of our lives into a cohesive story that
accounts for our circumstances, the things that befall us, and the
choices we make. Each of us has a different narrative that has many
threads woven into it from our shared culture and experience of being
human, as well as many distinct threads that explain the singular
events of one’s personal</P>
<P>All
these experiences influence what comes to mind in a current situation
and the narrative through which you make sense of it: Why</P>
<P>The
memories we organize meaningfully become those that are better
remembered. Narrative provides not only meaning but also a Avoid
mental framework for imbuing future experiences and information with
meaning, in effect shaping new memories to fi t our established
constructs of the world and ourselves. 
</P>
<P>Thus,
the narrative of memory becomes central to our intuitions regarding
the judgments we make and the actions we take.</P>
<P>Memory
is a reconstruction. We cannot remember every aspect of an event, so
we remember those elements that have greatest emotional significance
for us, and we fill in the gaps with details of our own that are
consistent with our narrative but may be wrong. People remember
things that were implied but not specifically stated. 
</P>
<P>Imagination
inflation refers to the tendency of people who, when asked to imagine
an event vividly, will sometimes begin to believe, when asked about
it later, that the event actually occurred. 
</P>
<P>Another
type of memory illusion is one caused by suggestion, which may arise
simply in the way a question is asked.</P>
<P>
What
psychologists call the curse of knowledge is our tendency to
underestimate how long it will take another person to learn something
new or perform a task that we have already mastered. 
</P>
<P>
Humans
are predisposed to assume that others share their beliefs, a process
called the false consensus effect.</P>
<P>As
you get more expert in complex areas, your models in those areas grow
more complex, and the component steps that compose them fade into the
background of memory</P>
<P>Incompetent
people lack the skills to improve because they are unable to
distinguish between incompetence and competence.</P>
<P>Their
research showed that incompetent people overestimate their own
competence and, failing to sense a mismatch between their performance
and what is desirable, see no need to try to improve. 
</P>
<P>Incompetent
people can be taught to raise their competence by learning the skills
to judge their own performance more accurately, in short, to make
their metacognition more accurate. 
</P>
<P>Most
important is to make frequent use of testing and retrieval practice
to verify what you really do know versus what you think you know.</P>
<P>In
many settings, your judgment and learning are calibrated by working
alongside a more experienced partner</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 6. Get Beyond Learning Styles </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>People
who as a matter of habit extract underlying principles or rules from
new experiences are more successful learners than those who take
their experiences at face value, failing to infer lessons that can be
applied later in similar situations. 
</P>
<P>Psychologists
today generally accept that individuals possess at least two kinds of
intelligence. Fluid intelligence is the ability to reason, see
relationships, think abstractly, and hold information in mind while
working on a problem; crystallized intelligence is one’s
accumulated knowledge of the world and the procedures or mental
models one has developed from past learning and experience. Together,
these two kinds of intelligence enable us to learn, reason, and solve
problems.</P>
<UL>
	<LI><P>Logical-mathematical
	intelligence: ability to think critically, work with numbers and
	abstractions, and the like</P>
	<LI><P>Spatial
	intelligence: three-dimensional judgment and the ability to
	visualize with the mind’s eye</P>
	<LI><P>Linguistic
	intelligence: ability to work with words and languages 
	</P>
	<LI><P>Kinesthetic
	intelligence: physical dexterity and control of one’s body</P>
	<LI><P>Musical
	intelligence: sensitivity to sounds, rhythms, tones, and music;</P>
	<LI><P>Interpersonal
	intelligence: ability to “read” other people and work with them
	effectively</P>
	<LI><P>Intrapersonal
	intelligence: ability to understand one’s self and make accurate
	judgments of one’s knowledge, abilities, and effectiveness</P>
	<LI><P>Naturalistic
	intelligence: the ability to discriminate and relate to one’s
	natural surroundings (for example, the kinds of intelligence invoked
	by a gardener, hunter, or chef).</P>
</UL>
<P>Knowledge
is not knowhow until you understand the underlying principles at work
and can fi t them together into a structure larger than the sum of
its parts. Knowhow is learning that enables you to go do.</P>
<P>Be
the one in charge you have to suit up, get out the door, and find
what you’re after. Mastery, especially of complex ideas, skills,
and processes, is a quest. 
</P>
<P>Embrace
the notion of successful intelligence. Go wide: don’t roost in a
pigeonhole of your preferred learning style but take command of your
resources and tap all of your “intelligences” to master the
knowledge or skill you want to possess.</P>
<P>Adopt
active learning strategies like retrieval practice, spacing, and
interleaving. Be aggressive.</P>
<P>Distill
the underlying principles; build the structure.</P>
<P>Break
your idea or desired competency down into its component parts. If</P>
<P>Describe
each idea and recall the related points. Which</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 7. Increase Your Abilities </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Memory.
Mnemonic devices are mental tools that can take many forms but
generally are used to help hold a large volume of new material in
memory, cued for ready recall.</P>
<P>The
neurons sprout microscopic branches, called axons, that reach out in
search of tiny nubs on other neurons, called dendrites. When axon
meets dendrite, a synapse is formed. In order for some axons to find
their target dendrites they must travel vast distances to complete
the connections that make up our neural circuitry. It’s this
circuitry that enables our senses, cognition, and motor skills,
including learning and memory, and it is this circuitry that forms
the possibilities and the limits of one’s intellectual capacity.</P>
<P>Neural
cell bodies make up most of the part of our brains that scientists
call the gray matter. What they call the white matter is made up of
the wiring: the axons that connect to dendrites of other neural cell
bodies, and the waxy myelin sheaths in which some axons are wrapped,
like the plastic coating on a lamp cord.</P>
<P>This
study showed what others have suggested, that the speed of our mental
abilities is determined by the robustness of our neural connections;
that this robustness, at the initial stages, is largely determined by
our genes, but that our neural circuitry does not mature as early as
our physical development and instead continues to change and grow
through our forties, fifties, and sixties. Part of the maturation of
these connections is the gradual thickening of the myelin coating of
the axons. Myelination generally starts at the backs of our brains
and moves toward the front, reaching the frontal lobes as we grow
into adulthood. The frontal lobes perform the executive functions of
the brain and are the location of the processes of reasoning and
judgment, skills that are developed through experience. The thickness
of the myelin coating correlates with ability, and research strongly
suggests that increased practice builds greater myelin along the
related pathways, improving the strength and speed of the electrical
signals and, as a result, performance. Increases neuroplasticity. The
neural circuits we use when we take conscious action toward a goal
are not the same ones we use when our actions have become automatic,
the result of habit. The actions we take by habit are directed from a
region located deeper in the brain, the basal ganglia. When we engage
in extended training and repetition of some kinds of learning,
notably motor skills and sequential tasks, our learning is thought to
be recoded in this deeper region, the same area that controls
subconscious actions such as eye movements. As a part of this process
of recoding, the brain is thought to chunk motor and cognitive action
sequences together so that they can be performed as a single unit,
that is, without requiring a series of conscious decisions, which
would substantially slow our responses. These sequences become
reflexive. 
</P>
<P>Another
fundamental sign of the brain’s enduring mutability is the
discovery that the hippocampus, where we consolidate learning and
memory, is able to generate new neurons throughout life. This
phenomenon, called neurogenesis, is thought to play a central role in
the brain’s ability to recover from physical injury and in humans’
lifelong ability to learn. The that the activity of associative
learning stimulates an increase in the creation of new neurons in the
hippocampus. This rise in neurogenesis starts before the new learning
activity is undertaken, suggesting the brain’s intention to learn,
and continues for a period after the learning activity, suggesting
that neurogenesis plays a role in the consolidation of memory and the
beneficial effects that spaced and effortful retrieval practice have
on long-term retention.</P>
<P>A
key determiner of fluid intelligence is the capacity of a person’s
working memory— the number of new ideas and relationships that a
person can hold in mind while working through a problem.</P>
<P>The
brain is not a muscle, so strengthening one skill does not
automatically strengthen others. Learning and memory strategies such
as retrieval practice and the building of mental models are effective
for enhancing intellectual abilities in the material or skills
practiced, but the benefits don’t extend to mastery of other
material or skills. 
</P>
<P>To
the extent that “brain training” improves one’s efficacy and
self-confidence, as the purveyors claim, the benefits are more likely
the fruits of better habits, such as learning how to focus attention
and persist at practice.</P>
<P>People
with performance goals unconsciously limit their potential. But if
your goal is to increase your ability, you pick ever-increasing
challenges, and you interpret setbacks as useful information that
helps you to sharpen your focus, get more creative, and work harder. 
</P>
<P>A
memory palace is a more complex type of mnemonic device that is
useful for organizing and holding larger volumes of material in
memory. It’s based on the method of loci, which goes back to the
ancient Greeks and involves associating mental images with a series
of physical locations to help cue memories. 
</P>
<P>Mnemonic
devices are sometimes discounted as tricks of memory, not tools that
fundamentally add to learning, and in a sense this is correct. The
value of mnemonics to raise intellectual abilities comes after
mastery of new material, as handy mental pockets for fi ling what
they’ve learned, and linking the main ideas in each pocket to vivid
memory cues so that they can readily bring them to mind and retrieve
the associated concepts and details, in depth, at the unexpected
moments that the need arises.</P>
<P>With
continued retrieval, complex material can become second nature to a
person and the mnemonic cues are no longer needed through repeated
use, your brain encodes and “chunks” sequences of motor and
cognitive actions, and your ability to recall and apply them becomes
as automatic as habit.</P>
<P>Effortful
learning changes the brain, building new connections and capability.
This single fact— that our intellectual abilities are not fixed
from birth but are, to a considerable degree, ours to shape— is
doing. The more we do, the more we can do. To embrace this principle
and reap its benefits is to be sustained through life by a growth
mindset.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> 8. Make It Stick </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Following
are three keystone study strategies. Make a habit of them and
structure your time so as to pursue them with regularity. Practice
Retrieving New Learning from Memory</P>
<P>The
harder it is for you to recall new learning from memory, the greater
the benefit of doing so. Making</P>
<P>Space
Out Your Retrieval Practice</P>
<P>Spaced
practice means studying information more than once but leaving
considerable time between practice sessions.</P>
<P>Interleave
the Study of Different Problem Types formulas, study more than one
type at a time, so that you are alternating between different
problems that call for different solutions. 
</P>
<P>Elaboration
improves your mastery of new material and multiplies the mental cues
available to you for later recall and application of it. What is it?
Elaboration is the process of finding additional layers of meaning in
new material.</P>
<P>A
powerful form of elaboration is to discover a metaphor or visual
image for the new material. 
</P>
<P>Generation
has the effect of making the mind more receptive to new learning.
Generation is an attempt to answer a question or solve a problem
before being shown the answer or the solution.</P>
<P>Experiential
learning is a form of generation: you set out to accomplish a task,
you encounter a problem, and you consult your creativity and
store-house of knowledge to try to solve it. 
</P>
<P>Reflection
is a combination of retrieval practice and elaboration that adds
layers to learning and strengthens skills.</P>
<P>Reflection
is the act of taking a few minutes to review what has been learned in
a recent class or experience and asking yourself questions.</P>
<P>Calibration
is the act of aligning your judgments of what you know and don’t
know with objective feedback so as to avoid being carried off by the
illusions of mastery that catch many learners by surprise at test
time.</P>
<P>Mnemonic
devices help you to retrieve what you have learned and to hold
arbitrary information in memory.</P>
<P>Among
the highlights were these: 
</P>
<UL>
	<LI><P>Always
	does the reading prior to a lecture 
	</P>
	<LI><P>Anticipates
	test questions and their answers as he reads 
	</P>
	<LI><P>Answers
	rhetorical questions in his head during lectures to test his
	retention of the reading 
	</P>
	<LI><P>Review's
	study guides, finds terms he can’t recall or doesn’t know, and
	relearns those terms</P>
	<LI><P>Copies
	bolded terms and their definitions into a reading notebook, making
	sure that he understands them 
	</P>
	<LI><P>Takes
	the practice test that is provided online by his professor; from
	this he discovers which concepts he doesn’t know and makes a point
	to learn them</P>
	<LI><P>Reorganizes
	the course information into a study guide of his design 
	</P>
	<LI><P>Writes
	out concepts that are detailed or important, posts them above his
	bed, and tests himself on them from time to time 
	</P>
	<LI><P>Spaces
	out his review and practice over the duration of the course</P>
</UL>
<P><BR><BR>
</P>
</mat-expansion-panel>