<p></p>
<p>This week was interesting. Here we see some videos related to artificial intelligence and quantum computing. We explored the TensorFlow and Scikit libraries and learned how quantum computing could help with AI development and simulations.</p>
<p>On the other hand, talking about soft skills. I was very impressed with how to design new products or ideas. Something that almost everybody forgets relies on the fact that high-impact innovations are motivated by the willingness to help others rather than money. The Moonshot strategy is an example of this is when you are working on though projects, it is not money or profits that keeps you there, it is the desire that your work can change the world. </p>
<p></p>
<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Machine Learning Recipes with Josh Gordon </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P></P>
    <P><B>Supervised learning</B></P>
    <P>Create a classifier by finding patterns in examples</P>
    <P><B>Types of classifiers</B></P>
    <P>Artificial neural networks</P>
    <P>Support Vector Machine</P>
    <P>Lions</P>
    <P>Tigers</P>
    <P>Bears</P>
    <P><B>Testing Data</B></P>
    <P>Examples
    used to “test” the classifier accuracy</P>
    <P>Not
    part of the training data</P>
    <P><B>Featuring
    engineering</B></P>
    <P>Featuring
    engineering the most important part of a ML here you choose which
    data will represent your model</P>
    <P><B>Binary
    classification</B></P>
    <P>Though
    test</P>
    <P>Avoid
    redundant features</P>
    <P>Features
    should be easy to understand</P>
    <P>Simpler
    relationships are easier to learn</P>
    <P>Ideal
    features are:</P>
    <P>Informative</P>
    <P>Independent</P>
    <P>Simple</P>
    <P>Inception
    - Google Computer Vision model</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Carl Sagan's Pale Blue Dot OFFICIAL </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This
    video was very Copernican, reminding us that we are nothing compared
    with the universe, but at the same time remembering us that we are
    part of the same universe.
    </P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Bret Victor - The Future of Programming </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Technology
    change quickly, people not</P>
    <P>
    </P>
    <P>Coding:
    Direct manipulation of data</P>
    <P>Procedures:
    Goals and constraints</P>
    <P>Text
    dump: Spatial representations</P>
    <P>Sequential:
    Concurrent</P>
    <P>
    </P>
    <P>API</P>
    <P>
    </P>
    <P>To
    avoid get stuck in one technology you should ask yourself what are
    you doing? Do you know what are you doing?</P>
    <P>
    </P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Moonshot Thinking from Astro Teller </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>It
    is better to set inspiring goals even if they are risky because even
    if you fail you grow up. That enables you (your organization) to
    reach best scenarios 
    </P>
    <P>Fail
    fast, that helps you to find good idea or strategies.</P>
    <P>Avoid
    thinking on costs focus on doing and improving, being greedy could
    take down your ideas.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Fast Company Exclusive: Inside Google X </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Point
to the moon, make the world at least ten times better</P>
<P>The
process of innovation is expensive and slow, so is better to fail
quickly to avoid getting stuck into something 
</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> La mejor presentación de tu vida </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>We
    have to focus our attention on what we are doing instead of what they
    think.</P>
    <P>If
    we success in doing people think or feel we could convince them to
    something for us</P>
    <P>We
    should try to make people think at the optimal point to maintain
    their attention and good willing.</P>
    <P>Whatever
    you are presenting should be:</P>
    <UL>
        <LI><P>Give
        something useful and new</P>
        <LI><P>Simplify,
        we tend to take our decisions based on the ease instead of the
        quantity of arguments  
        </P>
        <LI><P>Find
        an order to show your ideas. 
        </P>
        <UL>
            <LI><P>Choose
            if your story will be from general to particular (long talks) or
            from particular to general (short talks)</P>
            <LI><P>Make
            chunks ordered of information. Choose a structure for your ideas.</P>
        </UL>
        <LI><P>Try
        to find relationship with something that your audience knows and
        make a kind of metaphor. Use association of ideas 
        </P>
        <LI><P>Use
        the 3S strategy</P>
        <UL>
            <LI><P>Say
            what you are going ro say</P>
            <LI><P>Say
            it</P>
            <LI><P>Say
            what you said</P>
        </UL>
        <LI><P>Foment
        participation</P>
        <UL>
            <LI><P>Make
            open questions, avoid specific response ones</P>
            <LI><P>If
            your audience is big, choose someone to participate, the bigger
            your audience the lower the probability that someone will arise by
            themself 
            </P>
            <LI><P>Congratulates
            the participation</P>
            <LI><P>Avoid
            yes, but… it is better yes, and additionally</P>
        </UL>
        <LI><P>Use
        objects, and work on your props, avoid long text, control the
        showing rhythm</P>
        <LI><P>Control
        the tone and emotion rhythm</P>
    </UL>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> What Got You here Won't Get You There | Marshall Goldsmith | Talks at Google </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <UL>
        <LI><P>We
        have to learn to loose 
        </P>
        <LI><P>help
        more, judge less</P>
        <LI><P>Feedforward</P>
        <UL>
            <LI><P>Forget
            the past</P>
        </UL>
        <LI><P>If
        something don’t work don’t do it.</P>
        <LI><P>Don’t
        try to feel better than others</P>
        </UL>
    <P><B>Developing
    yourself as a leader and partner</B></P>
    <UL>
        <LI><P>Ask</P>
        <LI><P>Listen</P>
        <LI><P>Think</P>
        <LI><P>Thank</P>
        <LI><P>Respond</P>
        <LI><P>Involve</P>
        <LI><P>Change</P>
        <LI><P>Follow-up
        </P>
    </UL>
    <P>Friends
    and family</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Quantum videos </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>These videos were kind of complicated. However, the main idea behind quantum computing relies on several principles, just to mention one, the quantum entanglement that allows the simultaneous change of several nodes. That enhances velocity because instead of having procedural calculations, you could just finish them with just one shot. Additionally, given how things work on quantum mechanics (the uncertainty principle), it allows you to test several states again once. Those characteristics make quantum computing a good tool for optimization and searching problems which could help a lot with AI development and simulations.
    </p>
    <div class="images" >
        <img src="assets/Week 4/Logic gates.png" alt="Logic gates">
        <img src="assets/Week 4/Quantum Computer.png" alt="Quantum ComputerLogic gates">
    </div>
    
</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Bret Victor - Inventing on Principle </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>how
do you represent data is very important, the most important concept
behind invention is how it impacts and enhance people</P>
<P>Identify</P>
<P>Experience
a lot of things</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Version Control (Git) </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Commits
in Git are immutable. This doesn’t mean that mistakes can’t be
corrected, however; it’s just that “edits” to the commit
history are actually creating entirely new commits, and references
(see below) are updated to point to the new ones.</P>
<div class="images"><img src="assets/Week 4/Objects and content-addressing.png"></div>
<P>
</P>
<P>Now,
all snapshots can be identified by their ShA-1 hash. That’s
inconvenient, because humans aren’t good at remembering strings of
40 hexadecimal characters.</P>
<P>Git’s
solution to this problem is human-readable names for ShA-1 hashes,
called “references”. References are pointers to commits.</P>
<P><B>Repositories</B></P>
<P>Finally,
we can define what (roughly) is a Git <I>repository</I>:
it is the data objects and references.</P>
<P><B>Staging
area</B></P>
<P>Git
accommodates such scenarios by allowing you to specify which
modifications should be included in the next snapshot through a
mechanism called the “staging area”.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Editors (Vim) </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Vim
is the most popular command-line-based editor.</P>
<P><B>Modal
editing</B></P>
<P>Vim’s
design is based on the idea that a lot of programmer time is spent
reading, navigating, and making small edits, as opposed to writing
long streams of text. For this reason, Vim has multiple operating
modes.</P>
<UL>
	<LI><P><B>Normal</B>:
	for moving around a file and making edits</P>
	<LI><P><B>Insert</B>:
	for inserting text</P>
	<LI><P><B>Replace</B>:
	for replacing text</P>
	<LI><P><B>Visual</B>
	(plain, line, or block): for selecting blocks of text</P>
	<LI><P><B>Command-line</B>:
	for running a command</P>
</UL>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Java Build Tools for Dependency Management </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>They
were builded to become the process of using libraries easier</P>
<P><B>how
to Define Dependencies</B></P>
<P>In
the examples below, we will show you how to add a dependency for the
open-source library Guava from Google, which is available from Maven
Central. To start, you need to know its group-id (com.google.guava),
its artifact-id (guava), and which version of the library you’re
interested in (as of this writing, the latest version is “15.0”)</P>
<P>
</P>
<div class="images"><img src="assets/Week 4/How to Define Dependencies in Maven.png"></div>
<div class="images"><img src="assets/Week 4/How to Define Dependencies in Gradle.png"></div>
<P>
</P>
<P><B>Version
ranges</B></P>
<P>Instead
of just a single version number, you can also specify a range, using
a notation very similar to how you would define an interval in
mathematics: parenthesis ( ) work as exclusive markers and brackets [
] as inclusive markers. Using a range allows the tool to pick a
suitable version for the build. Continuing the example with Guava, if
you know that any version between 12.0 and up to 15.0 (excluded)
would work, you could define it as “[12.0,15.0)”. You can also
leave it open-ended like “[12.0,)”, which adds a requirement for
any version from 12.0 and up, similarly “(,12.0]” would be any
version up to and including 12.0. Or if you want anything higher than
12.0, except for version 13.0, you could specify
“[12.0,13.0),(13.0,)” as the version.</P>
<P>Besides
ranges and specific versions, dependencies can also be resolved using
dynamic versions by using the keywords ‘LATEST’ or ‘RELEASE’
instead of the version number. 
</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Mocks Aren't Stubs </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>'Mock
Objects’: special case objects that mimic real objects for testing.</P>
<P><B>Regular
Tests</B></P>
<P>xUnit
tests follow a typical four phase sequence: setup, exercise, verify,
teardown. 
</P>
<P>
</P>
<P>In
this case the setup phase is done partly in the setUp method (setting
up the warehouse) and partly in the test method (setting up the
order). The call to order.fill is the exercise phase. This is where
the object is prodded to do the thing that we want to test. The
assert statements are then the verification stage, checking to see if
the exercised method carried out its task correctly. In this case
there's no explicit teardown phase, the garbage collector does this
for us implicitly.</P>
<P>
</P>
<P>This
style of testing uses <B>state
verification</B>:
which means that we determine whether the exercised method worked
correctly by examining the state of the order and its collaborators
after the method was exercised. As we'll see, mock objects enable a
different approach to verification.</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Tests with Mock Objects </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>To
begin with, the setup phase is very different. For a start it's
divided into two parts: data and expectations. The data part sets up
the objects we are interested in working with, in that sense it's
similar to the traditional setup. The difference is in the objects
that are created. The SUT is the same - an order. however the
collaborator isn't a warehouse object, instead it's a mock warehouse
- technically an instance of the class Mock.</P>
<P>
</P>
<P>The
second part of the setup creates expectations on the mock object.The
expectations indicate which methods should be called on the mocks
when the SUT is exercised.</P>
<P>
</P>
<P>Once
all the expectations are in place I exercise the SUT. After the
exercise I then do verification, which has two aspects. I run asserts
against the SUT - much as before. however I also verify the mocks -
checking that they were called according to their expectations.</P>
<P>
</P>
<P>Mocks
use <B>behavior
verification</B>,
where we instead check to see if the order made the correct calls on
the warehouse. We do this check by telling the mock what to expect
during setup and asking the mock to verify itself during
verification. Only the order is checked using asserts, and if the
method doesn't change the state of the order there's no asserts at
all.</P>
<P>
</P>
<h2 >The Difference Between Mocks
and Stubs</h2>
<P>Using
mocks is one way to not use a real warehouse in the test, but there
are other forms of unreal objects used in testing like this.</P>
<P>
</P>
<P>Test
Double: the generic term for any kind of pretend object used in place
of a real object for testing purposes.</P>
<P>
</P>
<P>Types
of double:</P>
<UL>
	<LI><P><B>Dummy</B>
	objects are passed around but never actually used. Usually they are
	just used to fill parameter lists.</P>
	<LI><P><B>Fake</B>
	objects actually have working implementations, but usually take some
	shortcut which makes them not suitable for production.</P>
	<LI><P><B>Stubs</B>
	provide canned answers to calls made during the test, usually not
	responding at all to anything outside what's programmed in for the
	test.</P>
	<LI><P><B>Spies</B>
	are stubs that also record some information based on how they were
	called. One form of this might be an email service that records how
	many messages it was sent.</P>
	<LI><P><B>Mocks</B>
	objects pre-programmed with expectations which form a specification
	of the calls they are expected to receive.</P>
</UL>
<P>Of
these kinds of doubles, only mocks insist upon behavior verification.
The other doubles can, and usually do, use state verification. Mocks
actually do behave like other doubles during the exercise phase, as
they need to make the SUT believe it's talking with its real
collaborators - but mocks differ in the setup and the verification
phases.</P>
<P>
</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Xunit </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>It was inspiring see how something that born as a small project done without bigger purposes ended as an industry standard</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> UnitTest </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>Firstly
there is a notion that unit tests are low-level, focusing on a small
part of the software system. Secondly unit tests are usually written
these days by the programmers themselves using their regular tools -
the only difference being the use of some sort of unit testing
framework [1]. Thirdly unit tests are expected to be significantly
faster than other kinds of tests.</P>
<P>
</P>
<P>Object-oriented
design tends to treat a class as the unit, procedural or functional
approaches might consider a single function as a unit. But really
it's a situational thing - the team decides what makes sense to be a
unit for the purposes of their understanding of the system and its
testing. Although I start with the notion of the unit being a class,
I often take a bunch of closely related classes and treat them as a
single unit. Rarely I might take a subset of methods in a class as a
unit. however you define it doesn't really matter.</P>
<P>
</P>
<div class="images"><img src="assets/Week 4/Solitary Tests.png"></div>
<P>
</P>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Test Driven development </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>
</P>
<div class="images"><img src="assets/Week 4/Test fails.png"></div>
<P>TDD
cannot automatically fix algorithms; neither can any other technique.
Where rigorous testing helps is ensuring that the details of your
algorithm remain the same even if you refactor or add features. 
</P>
<P>This
is a <I><B>good</B></I>
thing; it makes you stop, revert your change, and try again.</P>
<P>
</P>

</mat-expansion-panel>
