<mat-toolbar color="accent"> 
    <mat-toolbar-row>
        Cracking the Coding Interview
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        Summary By Yasuo Maidana
    </mat-toolbar-row>
</mat-toolbar>
<p>
    The firsts chapters of this book are focused on how interviews work. There you can find answers to what you could want from them? (if you were a recruiter) or what to expect from them? (if you were an applicant).
</p>
<p>
    Additionally, the author gives you some hints about what enterprises could want for some positions. Also, she proposes a methodology to solve problems and use big O notation to identify which parts of your code you should optimize.
</p>
<p>
    I really enjoyed chapter 8. Here, the author talked about what to do while and after an interview. Especially talking about what to do/think after an interview, she gives good advice: 
</p>
<ul>
    <li>think about what do you want for your future? and </li>
    <li>when do you want to have it or start it?</li>
</ul>
<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p>Book summary from chapters 1-8</p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    
    <app-chapters></app-chapters>
</mat-expansion-panel>