<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Summary </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <P>This month I
	worked on a project. That was a fruitful experience because I had the
	opportunity to work with a client. My feedback said to me, I need to
	improve my communication with clients.</P>
	<P>Additionally, I learned several
	abilities and skills related to SLACK and javascript. Since I worked
	a lot with asynchronous functions, they were the tools I studied
	more.</P>
	<P>On the other hand, I also learn
	about agile methodology. I found some time-effort estimation very
	creative and practical.</P>
	<P>Finally, but no less relevant. There
	were two videos that I liked. One of them was related to continuous
	growth. I said, &quot;you need to challenge yourself with activities
	that are hard enough to make you suffer a bit, but a the same time
	realizable. That's an efficient way to develop yourself.&quot; The
	other video I liked talked about the optimism bias. There I remember
	that taking some countermeasures is a wise practice.</P>
</mat-expansion-panel>
