<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Other things </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>This week I’ve
	<a href="https://www.hackerrank.com/yasuomaidana">HackerRank</a></p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> <a href="https://sweetcode.io/python-file-importation-multi-level-directory-modules-packages/">Importance of working with multi-level directories in your project code</a> </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<ol>
	<li><p>Modularity
		of Code: It’s important to <b>divide</b>
		your projects <b>into
		smaller portions</b>,
		where each smaller problem is implemented in a separate subdirectory
		in your project. 
		</p>
	<li><p>Reusability
		of Code: When you abstract your code by implementing single or
		related logic into individual modules and subpackages, you can then
		use them anywhere in your project by just importing them rather than
		trying to rewrite them elsewhere in your project. That’s called
		DRY (Don’t Repeat Yourself)</p>
	<li><p>Maintainability
		of Code: Good project code should enable anyone without knowledge
		outside the project to easily make changes to it. When you use
		subpackages and modules well, you only have to make changes to the
		specific module you need to change.</p>
	</ol>
	<p><a href="https://docs.python.org/3/tutorial/modules.html">Modules
	usage</a></p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> <a href="https://www.javatpoint.com/set-in-java#:~:text=The%20set%20is%20an%20interface%20available%20in%20the,interface%20is%20used%20to%20create%20the%20mathematical%20set.">Sets in Java</a> </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>The
	<b>set</b>
	is an interface available in the <b>java.util</b>
	package. The <b>set</b>
	interface extends the Collection interface. An unordered collection
	or list in which duplicates are not allowed is referred to as a
	<b>collection
	interface</b>.
	The set interface is used to create the mathematical set. The set
	interface use collection interface's methods to avoid the insertion
	of the same elements. <b>SortedSet</b>
	and <b>NavigableSet</b>
	are two interfaces that extend the set implementation.</p>
		<div class='images'><img src='assets/Week 16/1.png'></div>
</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> How to: Work at Google —Example Coding/Engineering Interview </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<ul>
	<li><p>Clarify
		your doubts about the problem</p>
	<li><p>Think
		out-loud</p>
	<li><p>Think
		edge scenarios</p>
	<li><p>Test
		your solution</p>
	<li><p>Talk
		about the topic before write</p>
	</ul>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Effortless Mastery: Liberatingthe Musician Within | Kenny Werner | Talks at Google </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    		<p>Perfection
	is celebrating mistakes</p>
	<p>The
	fear of mistakes stunts the creativity</p>
	<p>Mastery
	means precision with ease</p>
</mat-expansion-panel>
