<div>
    I could summarize this week reading and videos enlisting the following points: 
    <ul>
        <li>It is good to have your intuition, which is convenient in multiples situations. However, you must verify your intuition, treat it as a starting point rather than the answer.</li>
        <li>You can't say you solved a problem if you did not identify it.</li>
        <li>The more united an organization is, the stronger it becomes.</li>
        <li>Creativity means a continued activity. You have to build it day by day and record it. </li>
        <li>The faster you hands-on, the quicker your idea will evolve.</li>
        <li>Your effort must be focused on stared problems. Optimization and perfection are overrated. The best products and services are not perfect, but they exist and work.</li>
        <li>Sometimes, we are living in automatic mode, which is convenient for some aspects of life. However, you only can really enjoy the things you are conscious of. Avoid automatic mode in the core aspects of your life.</li>
        <li>If you want to master something, you should:
            <ul>
                <li>practice as much as you can</li>
                <li>You should choose a topic to focus on. For the related ones, do a library of examples. Mastering something takes a lot of time, and life is short.</li>
                <li>Console commands are helpful for a lot of processes.</li>
            </ul>
        </li>
    </ul>
</div>
<mat-accordion>
    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>The scientific method</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>How to go through the process? </h2>
        <p>When you are in charge, it is relevant to know the entire process of whatever you are doing. Because that way, you could participate in any stage and understand the value that others provide.</p>
        <p>Sometimes, it is better to do something partially right than not do anything at all.</p>
        <h2>Journaling</h2>
        <p>It helps you to keep track of your process and to consult later.</p>
        <h3>Important journal questions</h3>
        <ul>
            <li>What are you
                <ul>
                    <li>Thinking?</li>
                    <li>Doing?</li>
                </ul>
            </li>
            <li>What do you want to 
                <ul>
                    <li>Do?</li>
                    <li>Know?</li>
                </ul>
            </li>
            <li>What did you discover?</li>
        </ul>
        <h2>Problem discovery</h2>
        <p>This process is about discovering the components of a problem, their manifestations, and understanding their causes and effects.</p> 
        <h2>Observation </h2>
        <p>You must avoid taking what you know for granted. First, observe the system, and try to understand it.</p>
        <h2>Data gathering</h2>
        <p>Try to identify cause-effect relationships and then gather information about them.</p>
        <h2>Data analysis</h2> 
        <p>Try to use the data to prove your ideas wrong or right. You must analyze data, even if you think you understand the problem.</p>
        <h2>Hypothesis generation</h2> 
        <p>Your ideas should be written down in a sentence that explains what is going on.</p>
        <p>You could use the Taguchi diagram to externalize and organize ideas.</p>
        <h2>Experimental design</h2> 
        <p>Experimental design is a methodology that helps you be efficient and allows you to have a degree of reliability on the results you get.</p>
        <h2>Tests</h2> 
        <p>These are a set of protocols that anyone can use to replicate your observations. They are the proof of your conclusion.</p>
        <h2>Problem definition</h2> 
        <p>You should define your problem in a single simple sentence. However, you could have several. Sometimes, the nature of the problem guides you to multiples phenomena.</p>
        <h2>Definition</h2> 
        <p>The definition should be a single sentence that explains the problem. It must have coherence with your data and work.</p>
        <h2>Constraints</h2> 
        <p>Make sure to list all the conditions and their importance. This will allows others to replicate your work.</p>
        <h2>Search for solution </h2> 
        <h2>Research</h2> 
        <p>Start by looking at what others have done. Then, if nobody has solved your hypothesis, you could start yours. The advantage of doing this way is that you get the wise of others.</p>
        <h2>Scientific papers</h2> 
        <p>The standard to share discoveries is the scientific paper. They show the methodology followed, the results, and conclusions.</p>
        <h2>Brainstorming </h2> 
        <p>Think about possibilities and write them. It does not matter if those do not make sense at all.</p>
        <h2>Modeling</h2> 
        <p>Discard everything that does not work with the problem definition</p>
        <h2>Prototyping</h2> 
        <p>It is a simplified system that proves if the component can be built.</p>
        <h2>Specification</h2> 
        <p>It is the guide with which you build the solution.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>What are the most profound life lessons from Stanford Professor John Ousterhout?</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>We should focus on simplicity and quality rather than speed or performance. Most computers can deal with many applications.</li>
            <li>Only think on optimize when it is required. It is hard to guess which part worth it.</li>
            <li>Use your intuition to ask questions. Treat it as a hypothesis rather than the answer.</li>
            <li>Most of the time is better to try something to understand a concept. It is recommended to use the cycle concept-fact-concept.</li>
            <li>You could not say you solved a problem you have not identified. Sometimes, an error could be solved by coincidence. The error scenario was probably avoided. So if it presents again, the error will rise again. </li>
            <li>The early you test your project, the quicker you will find its issues. Furthermore, you will minimize wasting effort on useless functions.</li>
            <li>If you want to build credibility, be honest. It is ok to say I do not know or I made a mistake instead of trying to build a false image.</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Scott Berkun: Creative thinking hacks</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Creativity is a kind of work. You need to do something</p>
        <p>The ideas are made of other ideas. If you got stuck, mix some ideas to get a new picture.</p>
        <p>In inhibition, you have to be very aware of constraints. As you remove unnecessary assumptions, including fears, your solution becomes more creative.</p>
        <p>You have to pay attention to your own, identify what works better for you. Commonly, physical activity helps you with creativity.</p>
        <p>Persistence, things take time to get done.</p>
        <h2>Hacks</h2>
        <ul>
            <li>Keep a journal. It is better if it is physical.</li>
            <li>Escape: Ideas tends to show up when you are relaxed</li>    
            <li>Steps of building an idea
                <ul>
                    <li>Understanding</li>
                    <li>Incubation</li>
                    <li>Elaboration</li>
                </ul>
            </li>
            <li>Invert, solve/imagine the opposite problem/perspective from the one you are trying to solve.</li>
            <li>Find a partner</li>
            <li>Fail. Try your ideas</li>
            <li>Switch modes
                <ul>
                    <li>Visually</li>
                    <li>Verbally</li>
                    <li>Audibly</li>
                    <li>Physically</li>
                </ul>
            </li>
            <li>Try to explain to others what you are doing. </li>
            <li>You have to be aware of the culture and environment where you are working.</li>
        </ul> 
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Jonathan Haidt: Religion, evolution, and the ecstasy of self-transcendence</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>It is significant to be united with others. The more united we are, the more solid we will be.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Autopilot Britain</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Autopilot is a growing problem. It is becoming our default mode of operating, whereby we are sleepy walking into our choices.</p>
        <h2>What is autopilot, and why is it a problem?</h2>
        <p>It is a decision-making system to keep our brains from overloading.</p>
        <h2>What are the cultural conditions that drive autopilot today?</h2>
        <ul>
            <li>We are too busy to notice what decisions we make</li>
            <li>Tech makes us sleepwalk into our choices</li>
            <li>We spend too much time comparing ourselves to ideals we can not live up to</li>
        </ul>
        <h2>Autopilot types</h2>
        <ul>
            <li>The players, those could not say no</li>
            <li>The pacers, the busy ones</li>
            <li>The passengers</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Ideas are just a multiplier of execution</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <img src="assets/Week 1/ideas.png">
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How progress really happens</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>There is no change until someone stakes their reputation on doing something different. You can’t make change without power. So, you have to be conscious about what you want to do.</p>
        <h2>Change</h2>
        <p>We don’t like changes, some reasons are:</p>
        <ul>
            <li>It takes energy</li>
            <li>It generates uncertain situations and risks</li>
        </ul>
        <h2>Tactics you should know</h2>
        <ul>
            <li>Talk about the problem you want to solve</li>
            <li>Get consensus</li>
            <li>Think about how much power you will need to make a change</li>
            <li>Disseminate your idea</li>
            <li>Look for people open to change (unhappier/discomforted ones)</li>
            <li>Start with something small you can build and share to convince (pilot)</li>
            <li>Motivate people</li>
            <li>Cover your people</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How to Master Anything: PEAK by Anders Ericsson | Core Message</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>Mental representations</li>
            <li>Recreate experience</li>
            <li>Make accurate predictions</li>
            <li>Condense information</li>
            <li>Effective practice</li>
            <li>Purposeful practice</li>
            <li>Specific goal</li>
            <li>Intense focus</li>
            <li>Immediate feedback</li>
            <li>Freely make mistakes</li>
            <li>Purpose practice + Mentor</li>
        </ul>
    </mat-expansion-panel>
    
    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Making Badass Developers - Kathy Sierra (Serious Pony)</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Split your skills and master what you need. Practice always. Build a library of small examples.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>The missing semester: Course overview + the shell</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h1></h1>
        <p>Commands allow you to do several kinds of stuff some of them are not possible through graphical interfaces.</p>
        <ul>
            <li>"echo" with $PATH shows you the path variables, echo is a kind of print. </li>
            <li>Absolute paths are paths that fully determine the location of a file. </li>
            <li>"PWD" prints the current path you are in </li>
            <li>cd changes directory </li>
            <li>cd ~ returns you to the home directory  </li>
            <li>cd - returns you to the previous directory you were </li>
            <li>ls show you the files and directories  </li>
            <li>Command + —help usually gives you help or small documentation about the command. </li>
            <li>mv used to move/change name arguments original path, a new path </li>
            <li>cp copy command </li>
            <li>rm removes files, if you want to remove a directory with files is rm -r, to delete a directory is rmdir. To create a directory use mkdir </li>
            <li>man gives the manual page of any program </li>
            <li>ctr l allows you to clear the console </li>
            <li>command < pathfileInput > pathFileOutput </li>
            <li>command > pathFileOutput </li>
            <li>cat print content of a file </li>
            <li>>> used for append </li>
            <li>| (pipe) takes the output of a program and use it as an argument of the next </li>
            <li>tail -nX prints the nX last inputs </li>
            <li>Example </li>
            <li>ls -l | tail -n2 </li>
            <li>curl --head --silent google.com </li>
            <li>grep -i content-length </li>
            <li>sudo su convert the shell into superuser </li>
            <li>tee writes into a file </li>
            <li>xdg-open fileNamePath opens a file (linux) </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>

