/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.book-card{
    img{
      width: auto;
      height: 500px;
      //align-self: center;
    }
    //align-items: center;
    justify-content: center;
  }
.book-header-image {
    background-size: cover;
}
.flex-spacer {
  flex: 1 1 auto;
}
.matPanelTitle{
  font-weight: bold;
  font-size:x-large;
  background-color: pink;
}
