<div>
    This week I read and saw some content related to time administration and personal growth. If I had to explain in few words, I could enlist all the material studied the following way: 
    <ul>
        <li>
            Building and forgetting habits 
        </li>
        <li>
            The importance of accepting you can grow up more 
        </li>
    </ul>
</div>
<mat-accordion>
    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How to build a new habit: This is your strategy guide.</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Start with a small custom</h2>
        <p>
            We have to consider that our will and energy are not the same all day. Additionally, since it consumes vitality, you have an amount of stamina you have to care about. However, like any physical activity, you can increase the amount of strength you have. Here is when the Napoleonic principle enters, divide and conquer.  Maybe you could not acquire a full habit in a row, but you could cut in pieces and acquire them step by step. 
        </p>
        <h2>Increase your habit in tiny ways</h2>
        <p>
            This part sounds very close to the KAIZEN principle. It means that every great success is only the product of continuous improvements. 
        </p>
        <h2>As you build up, break habits into pieces.</h2>
        <p>This could count as a part of the Napoleonic principle but focused on stamina administration.  
        </p>
        <h2>When you slip, get back on track quickly. 
        </h2>
        <p>Here talks about being aware of your flaws. You cannot be perfect, but you can have backups plans. 
        </p>
        <h2>Be patient. Stick to a pace you can sustain 
        </h2>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>How to start new habits that stick</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>The science of how habit work 
        </h2>
        <p>The four stages of habits are:</p>
            <ul>
                <li>Cue: It is a kind of signal that alerts you of a possible reward </li>
                <li>Craving: It is the desire behind the actions, is the motivation of what you are doing 
                </li>
                <li>Response: It is an actual habit, depends a lot on the incentive and the inertia of the activity itself. 
                </li>
                <li>Reward: The goal 
                </li>
            </ul>
        <p>We can split these four steps into two phases: 
        </p>
            <ul>
                <li>The problem phase: It includes clue and craving 
                </li>
                <li>The solution phase: It involves response and reward 
                </li>
            </ul>
        <h2>Where to go from here</h2>
        <p>If we understand how the cycle works, we could take advantage of it. If we want to create good habits. We have to make the cue obvious, the craving very attractive, the response (actions) easy, and the reward satisfying. 
        </p>
        <p>On the other hand, if we want to forget a bad habit, we must do the opposite: we have to hide the cue, convert the craving into something unattractive, responding to laborious actions, and rewarding into something unsatisfying. 
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Identity-Based Habits: How to Stick to Your Goals This Year</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Identity-Based Habits</h2>
        <p>The remarkable concept here is that you act as the image you have about yourself. Additionally, rather than just propose ideal goals, it is better to define specific and measurable goals. 
        </p>
        <h2>The three levels of change: 
        </h2>
        <ul>
            <li>The first layer is changing your outcomes. You have to change your results by doing something in the direction of your goal. </li>
            <li>The second layer is changing your process. It is related to habits and the system that you must create to achieve your goal. 
            </li>
            <li>The third and deepest layer is changing your identity. This is an alternative to outcome-based habits, which are more related to specific actions or goals. On the other hand, identity-based is focused on the image that you want to build about yourself.  
            </li>
        </ul>
        <h2>The Recipe for Sustained Success 
        </h2>
        <p>To change your belief about yourself, you could take the following steps: 
        </p>
        <ul>
            <li>Decide the type of person you want to be 
            </li>
            <li>Prove it to yourself with small wins 
            </li>
            <li>The first step could seem difficult; however, a good practice could be asking yourself: “Who is the type of person that could get the outcome I want?”. Then start planning small steps to achieve it. 
            </li>
        </ul>
        <h2>What is your identity? 
        </h2>
        <p>Being motivated is good; however, you have to be very aware of it. If you don’t control it, you could end burn out after a while, or on the other hand, you could lose your focus. 
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>The power of vulnerability</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This talk relies a lot on the sense of human connection. If we start from the idea that connection is the thing that makes sense to be here and that the shame is the fear of disconnection.  We could end with the premise that there were two groups of people: the ones that sense intense connections and the others that not. The variable that separates those who have a strong sense of love and belonging and the people who struggle for it is that the first group believes that they deservers it, and they are worthy.</p>
        <p>However, the first group feels vulnerable. Nevertheless, they believe that what made them vulnerable made them beautiful too. </p>  
        <p>We have to be very aware of numbing the vulnerability. Because we can’t selectively numb emotion, so if we started, we could end numbing everything. </p>
        <p>Blame is a way to discharge pain and discomfort.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="ExpansionPanel">
        <mat-expansion-panel-header class="matPanelTitle">
        <mat-panel-title>
            <p>Nearsoft conferences</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>There were several speeches at the conference. However, I put special attention to product development’s advice, microservices, and the apprentice path.</p>
        <h2>Product development’s advice 
        </h2>
        <p>Some good practices of product development rely on the connecting ability. You must understand your client and customer before doing anything. The main reason, sometimes you got stuck into a specific way of solving a problem, maybe for a technical or even a personal motive. However, if you understand what your client wants, behaves, and senses, you could find a better solution. 
        </p>
        <p>Then the other recommendations were focused on project implementation, for example, doing good comments and documentation and finding a team motivated with the goal. 
        </p>
        <h2>Microservices</h2>
        <p>We could define them as a collection of independent tools that helps you to develop a project. They have several pros and cons, which are very related. As the number of tools increases, the network information becomes more complex. The advantage of using independent tools rely on the fact that you could modify, maintain and test without affecting all the system you already have. 
        </p>
        <h2>Apprentice path </h2>
        <p>In the last speech, the topic was how to become a good apprentice. I found this talk appropriate for any context. Because it doesn’t matter which discipline you choose, if you believe that you have mastered it, you couldn’t grow up anymore in that field. The reason, you can only bloom as you are concern about your scope beyond. 
        </p>
        <p>In few words, you have to be humble to recognize you can develop. However, you also have to be wise to note your knowledge to help others. </p>    
    </mat-expansion-panel>
</mat-accordion>





