<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Architectural Styles and Architectural Patterns </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>In software engineering, an Architectural Pattern is a general and reusable solution to an occurring problem in a particular context. It is a recurring solution to a recurring problem. Its purpose is to understand how the system fits and how the data flows. </p>
<p>It is related to large-scale components. </p>
<p>The design pattern is related to a specific section of the codebase. </p>
<p>The idiom describes how to implement particular aspects of the components or the relationship between them.</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> Some major Architectural Patterns and Architectural Patterns Styles </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <h2>Layered</h2>
<p>Layered: the structure that can be decomposed into groups of subtasks</p>
<ul>
	<ul>
		<li><p>Presentation	(UI) layer</p>
		<li><p>Application (Service) layer</p>
		<li><p>Business	logic (Domain) layer</p>
		<li><p>Data	access (Persistence) layer</p>
	</ul>
</ul>
<p>Example Model-View-Controller (MVC)</p>
<p>One advantage of this pattern is the separation of concerns</p>
<h2>Event-Driven</h2>
<p>Event-Driven (EDA): It organizes a system around the production and consumption of events. It consists of:</p>
<ul>
	<ul>
		<li><p>Emitters: They are event source that only knows that the event has occurred</p>
		<li><p>Consumers: They react to emitters</p>
	</ul>
</ul>
<p>They have some advantages adapting to complex system and working with asynchronous and user interfaces. However, they have some issues related to testing.</p>
<h2>Domain-Driven-Design</h2>
<p>Domain-Driven Design (DDD): It is object-oriented inspired; it maps elements behavior and relationships. It’s more related to how to do things rather than coding.</p>
<h2>Other concepts</h2>
<p>Filters: Transform data</p>
<p>Pipes: Pass data</p>
<p>Micro-services: Instead of building a monolithic program, it splits into small functions that glue together.</p>

</mat-expansion-panel>


<mat-expansion-panel hideToggle class="ExpansionPanel">
    <mat-expansion-panel-header class="matPanelTitle">
    <mat-panel-title>
        <p> What is Agile Development and Is It Here to Stay? </p>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>It’s a philosophy that means breaking projects down into small goals and working towards those goals while adding new goals </p>
<ul>
	<li><p>Individuals and Interactions Over Processes and Tools: This might mean changing
	your processes if they’re not working for the team, rather than
	forcing them to adapt to it. 
	</p>
	<li><p>Working
	Software Over Comprehensive Documentation: Prioritize the product,
	not the bureaucracy around it. 
	</p>
	<li><p>Customer
	Collaboration Over Contract Negotiation: A key factor of agile
	methodology is that the product shape can change throughout the
	lifecycle depending on new information from the customers.  
	</p>
	<li><p>Responding
	to Change Over Following a Plan</p>
</ul>
</mat-expansion-panel>